// Color scheme
@import "themes/_scheme-default";

//ie only
.master {
  &-steps {
    &__item {
      &-title {
        color: $color-type-6a;
        background: none;
        -webkit-text-fill-color: inherit;
      }
    }
  }
}
.service {
  &__item {
    &-num {
      color: $color-type-1a;
      background: none;
      -webkit-text-fill-color: inherit;
    }
  }
}
//ie only
