@font-face {
    font-family: 'hagin_caps_mediumregular';
    src: url('../fonts/hagin_caps_medium-webfont.eot');
    src: url('../fonts/hagin_caps_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hagin_caps_medium-webfont.woff2') format('woff2'),
         url('../fonts/hagin_caps_medium-webfont.woff') format('woff'),
         url('../fonts/hagin_caps_medium-webfont.svg#hagin_caps_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_centro_slab_probold';
    src: url('../fonts/pfcentroslabpro-bold-webfont.eot');
    src: url('../fonts/pfcentroslabpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfcentroslabpro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfcentroslabpro-bold-webfont.woff') format('woff'),
         url('../fonts/pfcentroslabpro-bold-webfont.svg#pf_centro_slab_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pf_centro_slab_proitalic';
    src: url('../fonts/pfcentroslabpro-italic-webfont.eot');
    src: url('../fonts/pfcentroslabpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfcentroslabpro-italic-webfont.woff2') format('woff2'),
         url('../fonts/pfcentroslabpro-italic-webfont.woff') format('woff'),
         url('../fonts/pfcentroslabpro-italic-webfont.svg#pf_centro_slab_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pf_centro_slab_proregular';
    src: url('../fonts/pfcentroslabpro-regular-webfont.eot');
    src: url('../fonts/pfcentroslabpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfcentroslabpro-regular-webfont.woff2') format('woff2'),
         url('../fonts/pfcentroslabpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfcentroslabpro-regular-webfont.svg#pf_centro_slab_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
//
//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color:                true!default;
$use-btn-size:                 true!default;
$use-btn-group:                false!default;
$use-input-group:              false!default;
$use-table:                    true!default;
$use-color-table:              true!default;
$use-column-table:             false!default;
$use-color-text:               true!default;

//modules
$use-accordion:                false!default;
$use-breadcrumb:               true!default;
$use-pagination:               false!default;
$use-pager:                    false!default;
$use-space:                    false!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    false!default;
// grids
$use-adaptive:                 true!default;
$use-flexbox:                  true!default;
$use-bem:                      true!default;
// plugins
$use-animations:               false!default;
$debug-mode:                   false!default;



// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";

// pickmeup
@import "../../bower_components/pick-me-up/css/pickmeup.scss"
