.help
  h2.main-title На все вопросы знает ответ #[br] ваш  #[span.text--primary консьерж-сервис]
  .help__item
    .help-desc
      .help-ava
        .help-ava__border
          img(src='images/avatar.png', alt='')
      .help-user
        .help-user__title Влада Смирнова
        .help-user__phone 8-800-700-15-15
        .help-user__email: a(href='mailto:vlada@usadba.ru') vlada@usadba.ru
        .help-user__txt Звонки, смс, Whatsapp, Viber, Telegram
        .help-user__btn
          .btn--decor
            a.btn.btn--default.btn__lg.popup(href="#send-id") Написать Владе
  .help__item
    .help-info VIP-консьерж – это ваш личный помощник. Правая рука каждого без исключения гостя. Функциональные обязанности VIP-консьержа – обеспечение гостям информационной, организационной и сервисной поддержки на весь период пребывания гостей в гостиничном комплексе.
