.page-header__nav
    nav.nav
        if adaptive == true
            button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
                i.is-icons.is-icons--burger
            .main-nav__collapse
                +menu(navigation)
        else
            +menu(navigation)
    select.control.control--trans
      option Ru
      option Eng
