#form-id.mfp-hide.white-popup.white-popup--lg
    a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
    .white-popup-header
      h2 Выберите даты
    .white-popup-body
      .container.container-10
        .text--center.relative     
          .calendars#calendars
          .return_date
          .btn--decor
            a.btn.btn--default.btn__lg(href='#') Найти номер
#send-id.mfp-hide.white-popup
    a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close-bg
    .white-popup-header
      h4 Ваш консьерж-сервис
    .white-popup-body    
      form(action="#" method="method")
        .form__group: input.control(type='text', placeholder='ФИО')
        .form__group: input.control(type='text', placeholder='+7 (900) 555-35-35')
        .form__group: textarea.control(rows='5', placeholder='Сообщение')
        .form__group
          .checkbox
            input(type='checkbox', name='qwe', id='qwe')
            label(for='qwe') Согласен на обработку личных данных
        .form__group
          .btn--decor.btn--full
            button.btn.btn--default.btn__lg.btn--full(type='submit') Отправить
