//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  border: 1px solid transparent;
  font-family: $base-font-family;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $base-font-size, $base-line-height, $btn-border-radius-base);

  min-width: 160px;


  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &--full {
    display: block;
    width: 100%;
    & + & {
      margin-top: 5px;
    }
  }

  &--wtitle {
    margin-left: 70px;
    margin-top: -15px;
  }

  &--default {
    @include button-variant-tr($btn-default-color, $btn-default-bg, $btn-default-border);
    &:active,
    &:focus,
    &:hover{
      color: $btn-default-color;
      background-color: rgba($base-color-main, 0.4);
      border-color: $btn-default-border;
    }
  }
  &--decor {
    padding: 5px 6px 5px 5px;
    // padding: 5px;
    display: inline-block;
    background: url('../images/btn-lg.png') no-repeat center center / 100% 100%;
    &.btn--full {
      padding: 5px;
      background: url('../images/btn-xl.png') no-repeat center center / 99% 100%;  
    }
  }


  // Color buttons
  @if $use-btn-color == true {
    &--primary {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
    &--outlined {
      @include button-variant-tr($btn-outlined-color, $btn-outlined-bg, $btn-outlined-border);
    }
  }

  // Button Sizes
  @if $use-btn-size == true {
    &__lg {
      @include button-size($padding-large-vertical, $padding-large-horizontal, 11px, 1.4, $btn-border-radius-large);
      height: 36px;
      @media screen and (min-width: $screen-adaptive-nav) {
        height: 50px;
        min-width: 200px;
        font-size: $base-font-size;
        line-height: $line-height-btn;
      }
    }
    &__sm {
      @include button-size($padding-small-vertical, $padding-small-horizontal, $base-font-size, $line-height-tiny, $btn-border-radius-small);
      height: 26px;
      min-width: inherit;
    }
  }

  // Button group
  @if $use-btn-group == true {
    &-group {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      > .btn {
        position: relative;
        float: left;
        &:first-child {
          margin-left: 0;
          &:not(:last-child) {
            @include border-right-radius(0);
          }
        }
        &:last-child:not(:first-child) {
          @include border-left-radius(0);
        }
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }
        + .btn {
          margin-left: -1px;
        }
      }

      &--justified {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        > .btn {
          float: none;
          display: table-cell;
          width: 1%;
        }
      }
    }
  }
}
