//
// Base -> Typography
// --------------------------------------------------


// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 75%;
  }
}

h1, .alpha   {
  font-size: $font-size-h1 * 0.43;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h1 * 0.8;
  }
  @media screen and (min-width: $screen-xl-min) {
    font-size: $font-size-h1;
  }
}
h2, .beta    {
  font-size: $font-size-h2 * 0.5;
  line-height: 1;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h2;
  }
}
h3, .gamma   {
  font-size: $font-size-h3 * 0.63;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h3;
  }
 }
h4, .delta   {
  font-size: $font-size-h4 * 0.75;
  font-family: 'pf_centro_slab_proitalic';
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h4 * 0.9;
  }
  @media screen and (min-width: $screen-lg-min) {
    font-size: $font-size-h4;
  }
}
h5, .epsilon { font-size: $font-size-h5; }
h6, .zeta    {
  font-size: $font-size-h6;
  font-family: 'pf_centro_slab_probold';
}


// Body text
p { margin: 0 0 $line-height-computed-half; }

b { font-weight: 400; }

.italic {
  font-family: 'pf_centro_slab_proitalic';
}

// Alignment
.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }


// Responsive alignment
@if $use-adaptive == true {
  @media screen and (min-width: $screen-sm-min) {
    .text__sm--left   { text-align: left; }
    .text__sm--right  { text-align: right; }
    .text__sm--center { text-align: center; }
  }
  @media screen and (min-width: $screen-md-min) {
    .text__md--left { text-align: left;}
    .text__md--right {text-align: right;}
    .text__md--center {text-align: center;}
  }

  @media screen and (min-width: $screen-lg-min) {
    .text__lg--left { text-align: left;}
    .text__lg--right { text-align: right;}
    .text__lg--center { text-align: center;}
  }

  @media screen and (min-width: $screen-xl-min) {
    .text__xl--left { text-align: left;}
    .text__xl--right { text-align: right;}
    .text__xl--center { text-align: center;}
  }
}


// Transformation
.text--lowercase      { text-transform: lowercase; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }


// Text size
.text__sm {
  font-size: 13px;
  @media screen and (min-width: $screen-adaptive-nav) {
    font-size: $font-size-small;
  }
}
.text__md { font-size: $font-size-medium; }
.text__lg { font-size: $font-size-large; }


@if $use-color-text == true {
  // Color text
  @include text-emphasis-variant('.text--primary', $base-color-main);
  @include text-emphasis-variant('.text--default', rgba($black, 0.3));
  @include text-emphasis-variant('.text--grey', rgba($white-lighten, 0.5));
}


// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list {
  &--unstyled {
    @include list--unstyled;
  }

  &--inline {
    @include list--unstyled;
    margin-left: -5px;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
    i {
      vertical-align: middle;
      margin-right: $base-size;
    }
    span {
      vertical-align: middle;
      margin-right: $base-size * 3;
      &:last-child {
        margin-right: 0;
      }
    }
  }


  &--bullet {
    @include list--unstyled;
    margin-left: 11px;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '•';
        color: $base-color-main;
        font-size: 20px;
        margin-right: 11px;
      }
    }
  }

}
