//
// Partials -> catalog
// ------------------------------------


.catalog {
  text-align: center;
  @media screen and (min-width: $screen-adaptive-nav) {
    text-align: left;
  }
  &--sizelg {
    margin-top: 70px;
  }
  &--lg {
    padding-bottom: 40px;
    @media screen and (min-width: $screen-adaptive-nav) {
      padding-bottom: 90px;
    }
  }
  &-inner {
    @include flex();
    @include align-items__xs(start);
    @include work-link();
    // margin: 0 -5px;
    @media screen and (min-width: $screen-adaptive-nav) {
      // @include flex-wrap__xs(nowrap);
    }
  }
  &__item {
    // @include is-col__xs-12();
    // @include is-col__sm-12();
    @include is-col__md-4();
    // width: 20%;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-adaptive-nav) {
      margin-bottom: 60px;
      width: 20%;
    }
    &-title {
      margin-top: 15px;
      font-family: 'pf_centro_slab_probold';
    }
    &-desc {
      padding-right: 20px;
      color: rgba($white-lighten, 0.3);
      font-family: 'pf_centro_slab_probold';
    }
  }
  &--distance {
    .catalog {
      &-inner {
        @include justify-content__xs(space-between);
      }
      &__item {
        margin-bottom: 0;
        @include is-col__lg-3();
      }
    }
  }
}
