//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
  @include work-link();
  color: $black;
  a {color: $black;}
  &-mobile {
    @include flex();
    @include align-items__xs(center);
    justify-content: center;
    position: fixed;
    left: 0;right: 0;
    z-index: 1;
    bottom: 30px;
    color: $white-lighten;
    &__name {
      font-size: 11px;
      color: rgba($white-lighten, 0.5);
      padding: 0 15px;
    }
    &__value {
      font-size: 14px;
      padding: 0 15px;
    }
    @media screen and (min-width: $screen-adaptive-nav) {
      display: none;
    }
  }
}
.page-footer {
  @include row-flex();
  &__item {
    @include col-flex();
    @include is-col__xs-12();
    @include is-col__sm-6();
    @include is-col__md-3();
    @include is-col__lg-2();
    &:first-child {
      @include is-col__xl-4();
      @include is-col__md-3();
      @extend .hidden-mobile;
      .inner {
        display: inline-block;
        text-align: center;
      }
    }
    &:nth-last-child(2) {
      @include is-col__xs-6();
      @include is-col__md-3();
      @include is-col__lg-2();
    }
    &:last-child {
      text-align: right;
      @include is-col__xs-6();
      @include is-col__xl-2();
      @include is-col__md-3();
    }
  }
  &-title {
    font-size: $font-size-h4 * 0.7;
    @media screen and (min-width: $screen-adaptive-nav) {
      font-size: $font-size-h4;
    }
    margin-bottom: 10px;
    font-family: 'pf_centro_slab_probold';
  }
  &-name {
    @extend .text__sm;
    @extend .text--default;
    margin-bottom: $base-size;
  }
  .page-footer-mail {
    @extend .text__sm;
    @extend .text--primary;
  }
  &--logo {
    margin-bottom: $base-size;
  }
  .btn--default {
    color: $black;
  }
  &__copyright {
    margin-top: 30px;
    color: rgba(#000, 0.2);
    @extend .flex-justify;
    a {
      color: rgba(#000, 0.2);
    }
    @media screen and (max-width: $screen-sm-max) {
      text-align: center;
      p, a {
        width: 100%;
      }
    }
  }
}

.social {
  &-nav {
    margin-left: -7px;
    @media screen and (max-width: $screen-sm-max) {
      margin-top: 20px;
    }
    &__item {
      display: inline-block;
      margin: 0 7px;
    }
  }
}
