//
// Partials -> Header
// ------------------------------------


//
// Header
//
.header {
  z-index: 10;
  padding: 20px 0;
  @include transition();
  .container {
    position: relative;
  }
  &--border {
    border-bottom: 1px solid rgba($base-color-main, 0.1);
  }
  &--dark {
    background: #111;
  }
  &--abs {
    position: absolute;
    left: 0;right: 0;
    + main {
      // padding-top: 110px;
    }
  }
  &--fix {
    position: fixed;
    left: 0;right: 0;
    top: 0;
    @media screen and (min-width: $screen-adaptive-nav) {
      top: 30px;
    }
  }
}
.page-header {
  @extend .flex-justify;
  @include align-items__xs(center);
  &__logo {
    a {text-decoration: none;}
    img {
      vertical-align: middle;
      max-width: 50px;
      @media screen and (min-width: $screen-adaptive-nav) {
        max-width: 60px;
      }
    }
    span {
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  &__btn {

  }
  &__nav {
    @extend .flex-justify;
    @include align-items__xs(center);
    @media screen and (max-width: $screen-md-max) {
      order: 1;
    }
    .control {
      padding: 0 20px;
      height: 20px;
      margin-left: 20px;
      border-left: 1px solid rgba($base-color-main, 0.4);
      @extend .hidden-mobile;
      option {
        color: $white-lighten;
      }
    }
  }
}

//
// old-browser
//
.browsehappy {
  @extend .container;
}
