//
// Partials -> help
// ------------------------------------

.help {
  @extend .flex-align;
  margin: 60px 0;
  @media screen and (min-width: $screen-md-min) {
    margin: 180px 0;
  }
  h2.main-title {
    width: 100%;    
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }
  &__item {
    @include is-col__md-8();
    @include is-col__lg-6();
    @include is-col__xs-12();
    &:last-child {
      @include is-col__md-4();
      @include is-col__lg-6();
    }
  }
  &-desc {
    @include flex();
    padding-bottom: 30px;
    border-bottom: 1px solid $base-color-main;
    @media screen and (min-width: $screen-md-min) {
      border-right: 1px solid $base-color-main;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &-ava {
    &__border {
      border: 1px dashed #efc171;
      padding: 10px;
      @include border-radius(50%);
    }
  }
  &-user {
    margin-top: 30px;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: auto;
      margin-left: 50px;
      margin-top: 0;
    }
    &__title {
      font-size: $font-size-large;
      margin-bottom: 10px;
      font-family: 'pf_centro_slab_probold';
    }
    &__phone {
      font-size: $font-size-h4;
      font-family: 'pf_centro_slab_probold';
    }
    &__email {
      a {@extend .text--primary;}
    }
    &__txt {
      color: rgba($white-lighten, 0.5);
    }
    &__btn {
      margin-top: $base-size;
    }
  }
  &-info {
    margin-top: 30px;
    max-width: 440px;
    @media screen and (min-width: $screen-md-min) {
      margin-left: $base-size * 2;
      margin-top: 0;
    }
  }
}
