//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

.page-main {
  overflow: hidden;
}


.flex-justify {
  @include flex();
  @include justify-content__xs(space-between);
}

.flex-align {
  @include flex();
  @include align-items__xs(center);
}

.flex-column {
  @include flex();
  @include flex-direction__xs(column);
}

.page404 {
  min-height: 100vh;
  align-items: flex-end;
  &-title {
    font-size: 25px;
    margin: 40px 0 20px;
    @media screen and (min-width: $screen-sm-min) {
      font-size: 35px;
      margin: 60px 0 40px;
    }
    @media screen and (min-width: $screen-md-min) {
      font-size: 40px;
      margin: 80px 0 60px;
    }
  }
  &-inner {
    margin-bottom: 50px;
    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 100px;
    }
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 170px;
    }
  }
}

//
// Main container
//
.container {
  &--10 {
    width: 100%;
    @media screen and (min-width: $screen-xl-min) {
      width: 85%;
    }
  }
  &--8 {
    width: 100%;
    @media screen and (min-width: $screen-xl-min) {
      width: 70%;
    }
  }
  &--center {
    margin: auto;
  }
}
.main-title {
  position: relative;
  @media screen and (max-width: $screen-sm-max) {
    .btn__sm {
      display: none;
    }
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-left: 110px;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding-left: 0;
  }
  &:before {
    @media screen and (min-width: $screen-lg-min) {
      content: '';
      background: $base-color-main;
      position: absolute;
      width: 90px;
      height: 1px;
      top: 32px;
      left: 0;
    }
    @media screen and (min-width: $screen-xl-min) {
      left: -110px;
    }
  }
  + div h4,
  + h4 {
    @media screen and (min-width: $screen-lg-min) {
      padding-left: 110px;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding-left: 0;
    }
  }
}
.full-screen {
  @include flex();
  @include align-items__xs(center);
}
.main-offer {
  padding: 50px 0;
  @media screen and (min-width: $screen-md-min) {
    &.fp-section.fp-table {
      display: none;
    }
  }
  i {
    font-family: 'pf_centro_slab_proitalic';
  }
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 22px;
    margin-top: 0;
  }
  .m-catalog__item-body {
    padding: 5px 0;
  }
  .slick-dots {
    margin-left: 10px;
    margin-top: 0;
    text-align: right;
    top: 17px;
    position: absolute;
  }
}

//modules
.decorlines {
  & > div {
    z-index: 10;
    position: absolute;
  }
  &-top {
    left: $base-size * 1.5;
    right: $base-size * 1.5;
    top: $base-size;
    border: 1px solid $base-color-main;
    height: 3px;
    @media screen and (max-width: $screen-md-max) {
      left: $base-size / 1.2;
      right: $base-size / 1.2;
      top: $base-size / 3;
    }
    .decorlines__item {
      top: 1px;left: -9px;
    }
  }
  &-bottom {
    left: $base-size * 1.5;
    right: $base-size * 1.5;
    bottom: $base-size;
    border: 1px solid $base-color-main;
    height: 3px;
    @media screen and (max-width: $screen-md-max) {
      left: $base-size / 1.2;
      right: $base-size / 1.2;
      bottom: $base-size / 3;
    }
    .decorlines__item {
      top: -9px;
      right: -9px;
    }
  }
  &-left {
    top: $base-size * 1.5;
    bottom: $base-size * 1.5;
    left: $base-size;
    border: 1px solid $base-color-main;
    width: 3px;
    @media screen and (max-width: $screen-md-max) {
      top: $base-size / 1.2;
      bottom: $base-size / 1.2;
      left: $base-size / 3;
    }
    .decorlines__item {
      bottom: -9px;left: 1px;
    }
  }
  &-right {
    top: $base-size * 1.5;
    bottom: $base-size * 1.5;
    right: $base-size;
    border: 1px solid $base-color-main;
    width: 3px;
    @media screen and (max-width: $screen-md-max) {
      top: $base-size / 1.2;
      bottom: $base-size / 1.2;
      right: $base-size / 3;
    }
    .decorlines__item {
      top: -9px;
      right: 1px;
    }
  }
  &__item {
    width: 9px;
    height: 9px;
    border: 1px solid $base-color-main;
    position: absolute;
  }
}

.logotypes {
  text-align: center;
  @extend .hidden-mobile;
  &-inner {
    display: inline-block;
    border-top: 1px solid $base-color-main;
    padding: 20px 0 0;
    background: url('../images/shadow.png') no-repeat center top / cover;
    @media screen and (min-width: $screen-xl-min) {
      padding: 40px 0 0;
    }
  }
  &__item {
    margin: 0 40px;
    display: inline-block;
    vertical-align: middle;
  }
  &--full {
    position: absolute;
    bottom: 40px;right: 0;left: 0;
    z-index: 10;
    @media screen and (min-width: $screen-xl-min) {
      bottom: 50px;
    }
  }
  &--line {
    @include flex();
    @extend .hidden-mobile;
    .logotypes__item {
      margin: 0 -1px 0 0;
      height: 70px;
      @extend .flex-align;
      @include justify-content__xs(center);
      @include is-col__xs-2();
      padding: 0 10px;
      border: 1px solid #eeeeee;
    }
  }
}
#fp-nav {
  @include transition();
  li:last-child {
    display: none;
  }
}
.fp-viewing-footer {
  @media screen and (min-width: $screen-md-min) {
    .header--fix {
      top: -50%;
    }
  }
  #fp-nav {
    opacity: 0;
  }
}
.l-notice {
  padding: 0 20px;
  margin: 0 -15px;
  @media screen and (min-width: $screen-md-min) {
    padding: 0 50px;
    margin: 0;
  }
  &--warning {
    background: $color-type-2a;
    padding: 30px 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 30px 50px;
    }
  }
  &--info {
    background: #0f181f;
    padding: 30px 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 40px 70px;
    }
  }
  &--default {
    padding: 30px 20px;
    color: #777;
    background: $white-lighten;
    position: relative;
    z-index: 3;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: -50px;
      padding: 53px;
    }
  }
}
.route {
  position: relative;
  @extend .flex-justify;
  @media screen and (min-width: $screen-md-min) {
    &::after {
      content: '';
      height: 1px;
      position: absolute;
      background-color: $base-color-main;
      left: 90px;
      right: 90px;
      bottom: 0;
    }
  }
  &__item {
    z-index: 1;
    position: relative;
    &-title {
      font-size: 18px;
      margin-bottom: 30px;
      position: relative;
      font-family: 'pf_centro_slab_probold';
    }
    &-dot {
      @media screen and (min-width: $screen-md-min) {
        width: 19px;
        height: 19px;
        margin: auto;
        position: relative;top: 9px;
        background-color: $color-type-3a;
        border: 1px solid $base-color-main;
      }
    }
    i {
      margin-top: 8px;
    }
  }
}
.transport {
  @include flex();
  @include justify-content__xs(space-around);
  position: relative;
  padding: 70px 0;
  &::before,
  &::after {
    content: '';
    height: 1px;
    width: 250%;
    position: absolute;
    left: -100%;
    right: -100%;
    top: 0;
    background: $base-color-main;
  }
  &::before {
    bottom: 0;
    top: auto;
  }
  &__item {
    width: 300px;
    img {
      margin-bottom: 30px;
    }
  }
}
.tabs {
  position: relative;
  z-index: 1;
  &-inner {
    padding: 10px 20px;
    position: relative;
    z-index: 10;
  }
  &__content {
    display: none;
    &.active {
      display: block;
    }
  }
  &__caption {
    margin: 0 10px 0 0;
    display: inline-block;
    li {
      vertical-align: middle;
      &.active {
        color: rgba(#ffffff, 0.3);
        border-bottom: 1px dotted $base-color-main;
        background-color: transparent;
      }
    }
  }
}
.title-grad {
  font-family: 'pf_centro_slab_proitalic';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to left, #534023 0%, $base-color-main 50%, #46371e 100%);
}
.marg__lg {
  margin-top: 40px;
}
//modules
