//
// Partials -> catalog
// ------------------------------------


.schedule {
  @media screen and (min-width: $screen-md-min) {
    margin-top: 40px;
    @extend .flex-align;
    @include justify-content__xs(center);
  }
  &__item {
    @include work-link();
    padding: 15px 20px;
    border: 1px solid #ffffff;
    background-color: rgba($black, 0.5);
    @media screen and (min-width: $screen-md-min) {
      width: 25%;
    }
    &:hover,
    &.active {
      border-color: $base-color-main;
    }
    &-season {

    }
    &-date {

    }
  }
}
