//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: 0;
    margin-bottom: $line-height-computed;
    list-style: none;

    &__item {
      display: inline-block;
      & + & {
        &:before {
          content: "#{$breadcrumb-separator}";
          padding: 0 5px;
          color: $breadcrumb-color;
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
    &__link {
      color: $breadcrumb-color;
      text-decoration: none;
    }
  }
}
