//
// Modules -> Navs
// --------------------------------------------------

.nav {
  &__justified {
    width: 100%;

    @if $use-adaptive == true {
      li {
        float: none;
        > a {
          margin-bottom: 5px;
          text-align: center;
        }
        @media screen and (min-width: $screen-adaptive-nav) {
          display: table-cell;
          width: 1%;
          > a {
            margin-bottom: 0;
          }
        }
      }
    } @else {
      li {
        display: table-cell;
        width: 1%;
        > a {
          text-align: center;
          margin-bottom: 5px;
        }
      }
    }
  }

}


// .sub-nav {
//   text-align: center;
//   li {
//     display: block;
//     a:hover {
//       background: $subnav-link-hover-bg;
//     }
//   }
//
//   @if $use-adaptive == true {
//     @media screen and (min-width: $screen-adaptive-nav) {
//       display: none;
//       position: absolute;
//       background: $gray-darken;
//       top: 100%;
//       right: 0;
//       min-width: 200px;
//       li:hover & {
//         display: block;
//       }
//     }
//   } @else {
//     display: none;
//     position: absolute;
//     background: $gray-darken;
//     top: 100%;
//     right: 0;
//     min-width: 200px;
//     li:hover & {
//       display: block;
//     }
//   }
// }

.sec-nav {
  background: $color-type-6a;
  box-shadow: 0 1px 0 $base-color-main;
  margin: 0;
  height: 70px;
  display: none;
  @media screen and (min-width: $screen-md-min) {
    @include flex();
    @include align-items__xs(center);
    @include justify-content__xs(center);
  }
  &__item {
    margin: 0 25px;
  }
  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.footer-nav {
  margin-bottom: 30px;
  padding-left: 0;
  list-style: none;
  &__item {
    margin-bottom: 18px;
    &--title {
        font-family: 'pf_centro_slab_probold';
    }
  }
  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
        padding: $nav-link-padding;
      }
    } @else {
      display: inline-block;
    }
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    color: $white-lighten;
    @if $use-adaptive == true {
      background-color: $base-color-main;
      @media screen and (min-width: $screen-adaptive-nav) {
        background-color: transparent;
        padding: 0;
      }
    } @else {
      background-color: transparent;
    }
    &:hover, &:focus {
      color: $white-lighten;
      text-decoration: underline;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      float: right;
      padding: 9px 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
      // .icon-bar {
      //   display: block;
      //   width: 30px;
      //   height: 2px;
      //   background: #000;
      //   border-radius: 1px;
      // }
      // .icon-bar + .icon-bar {
      //   margin-top: 4px;
      // }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      -webkit-overflow-scrolling: touch;
      display: none;
      // width: 100%;
      position: absolute;
      right: 10px;
      left: 10px;
      top: 70px;
      z-index: 101;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        position: static;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}

.navbar {
  position: relative;
  @include clearfix();
  @media screen and (min-width: $screen-adaptive-nav) {
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
}
