//
// Pages -> Bath
// ------------------------------------

.banner {
  height: 320px;
  @extend .flex-align;
  position: relative;
  // padding-top: 140px;
  .container {
    @media screen and (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
  @media screen and (min-width: $screen-md-min) {
    height: 560px;
  }
  h1 {
    // margin-top: 110px;
  }
  p, ul, h4 {
    display: none;
    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }
}

.bath {
  background: $color-type-3a;
  h2 {
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }
  &-quote {
    margin-bottom: 70px;
    font-size: $font-size-h4 * 0.75;
    font-family: 'pf_centro_slab_proitalic';
    @media screen and (min-width: $screen-md-min) {
      font-size: $font-size-h4;
      margin-bottom: 0;
    }
  }
  &__item {
    padding-top: 70px;
    @extend .flex-justify;
    @media screen and (min-width: $screen-md-min) {
      padding-top: 160px;
    }
    > div {
      @include is-col__xs-12();
      @include is-col__md-6();
      @include is-col__xl-4();
      &:first-child {
        @include is-col__md-4();
      }
    }
  }
  &-icons {
    margin-top: 30px;
    @include flex();
    @include align-items__xs(center);
    &__item {
      margin-top: 30px;
      @include is-col__xs-12();
      @include is-col__sm-6();
      @include is-col__md-4();
      @include is-col__lg-3();
      @extend .flex-align;
      @include flex-wrap__xs(nowrap);
      @media screen and (min-width: $screen-md-min) {
        margin-top: 60px;
      }
      &-icon {
        width: 90px;
        height: 90px;
        border: 1px dashed rgba($base-color-main, 0.2);
        @include border-radius(50%);
        text-align: center;
        line-height: 82px;
      }
      &-desc {
        width: calc(100% - 100px);
        margin-left: $base-size;
        font-family: 'pf_centro_slab_probold';
      }
    }
  }
  &-table {
    padding-top: 70px;
    margin: 0 -15px;
    @media screen and (min-width: $screen-md-min) {
      margin: 0;
      padding-top: 140px;
    }
    h2 {
      margin-bottom: 50px;
    }
  }
}

.table {
  &-inner {
    padding: 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 40px;
    }
  }
}

.danger {
  background: $color-type-2a;
}
.info {
  background: #0f181f;
}

.slideshow {
  position: relative;
  margin: 50px -15px 0;
  @media screen and (min-width: $screen-md-min) {
    margin: 0;
  }
}
