//
// Pages -> Launch
// ------------------------------------

.card {
  h2 {
    margin-bottom: 50px;
    .sub-title {
      color: rgba(#ffffff, 0.6);
      @extend h4;
    }
  }
  &__item {
    padding-top: 50px;
    @media screen and (min-width: $screen-md-min) {
      padding-top: 100px;
    }
    &--border{
      border-top: 1px solid $base-color-main;
    }
  }
  .bath-icons {
    margin-top: 0;
  }
  .list--inline-zero,
  .card-catalog {
    margin: 0;
  }
}
