//
// Pages -> Catalog
// ------------------------------------

.m-catalog {
  background: #111;
  &-container {
    max-width: 1600px;
    margin: auto;
    .slideshow {
      @media screen and (max-width: $screen-sm-max) {
        margin-top: 0;
      }
    }
  }
  &__item {
    @extend .flex-justify;
    @include align-items__xs(center);
    width: 100%;
    padding: 10px 0;
    @media screen and (min-width: $screen-md-min) {
      border-top: 1px solid $base-color-main;
    }
    .card & {
      border-top: none;
    }
    &--right {
      :first-child {
        @media screen and (min-width: $screen-lg-min) {
          order: 1;
        }
      }
    }
    &--bot {
      @include align-items__xs(end);
    }
    &--nob {
      border: 0;
    }
    &-elem {
      @include is-col__xs-12();
      @include is-col__md-6();
      // @include is-col__xl-6();
      &--border {
        position: relative;
        &::after {
          content: '';
          border: 1px solid $base-color-main;
          position: absolute;
          left: 10px;top: -10px;bottom: 0;
          width: 100%;
          z-index: -1;
          height: 114%;
        }
      }
    }
    &-body {
      padding: 20px;
      @media screen and (min-width: $screen-md-min) {
        padding: 20px 10px 0 90px;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding: 20px 110px 0 190px;
      }
      @media screen and (min-width: $screen-xl-min) {
        padding: 20px 80px 0 150px;
      }
      &--txt {
        padding: 20px 15px;
        @media screen and (min-width: $screen-lg-min) {
          padding: 20px 150px;
        }
      }
      .main-title {
        padding-left: 0;
        &:before {
          left: -110px;
        }
      }
    }
    &-img {
      height: 410px;
      @include is-col__xs-12();
      @include is-col__md-6();
      // @include is-col__xl-6();
      .option {
        height: 410px;
      }
    }
    &-footer {
      margin-top: 50px;
      @extend .flex-justify;
      @include align-items__xs(center);
      padding-bottom: 20px;
      &--border {
        @media screen and (min-width: $screen-md-min) {
          border-bottom: 1px solid rgba($base-color-main, 0.3);
        }
      }
    }
    &-price {
      color: $base-color-main;
      font-size: 30px;
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: block;
      }
      span {
        font-size: $font-size-medium;
      }
    }
  }
}
