//
// Pages -> Contacts
// ------------------------------------

.contacts {
  &--grad {
    @media screen and (min-width: $screen-md-min) {
      background: linear-gradient(to right, #0b1218 0,#0b1218 48%,#0f181f 48.1%,#0f181f 100%);
    }
    @media screen and (min-width: $screen-xl-min) {
      background: linear-gradient(to right, #0b1218 0,#0b1218 42%,#0f181f 42.1%,#0f181f 100%);
    }
  }
  &-header {
    text-align: center;
    margin-top: 100px;
    h2 {
      margin-bottom: 30px;
    }
  }
  &-road {
    @extend .flex-justify;
    h3 {
      margin-top: 0;
    }
    h4 {
      margin-top: 30px;
      line-height: 1.1;
      font-size: 24px;
      margin-bottom: $base-size;
    }
    .btn--decor {
      margin-top: $base-size / 2;
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: inline-block;
      }
    }
    &__item {
      padding: 25px 0;
      @include is-col__md-6();
      @include is-col__lg-4();
      @media screen and (min-width: $screen-md-min) {
        padding: 100px 0;
      }
      &:last-child {
        @include is-col__md-6();
        @include is-col__lg-7();
      }
    }
    &-inner {
      @include row-flex();
      // @include justify-content__xs(space-between);
      &__elem {
        // padding: 25px;
        @include col-flex();
        @include is-col__md-4();
        @extend .flex-column;
        @media screen and (min-width: $screen-xl-min) {
          height: 190px;
        }
      }
    }
  }
}

.coordinates {
  margin-top: auto;
  font-size: $font-size-tiny;
  &-header {
    @extend .text--primary;
  }
  &-body {
    color: #bbbbbb;
  }
}

.reservation {
  @extend .flex-justify;
  margin: 40px 0 100px;
  // @include align-items__xs(stretch);
  &__item {
    border: 1px solid $base-color-main;
    padding: 30px 40px;
    height: 200px;
    @extend .flex-column;
    @include is-col__xs-12();
    @include is-col__sm-6();
    @include is-col__lg-3();
  }
  &-phone {
    font-size: $font-size-h4;
    font-family: 'pf_centro_slab_probold';
  }
  &-email {
    font-size: $font-size-tiny;
    color: $base-color-main
  }
  &-title {
    margin-top: auto;
    font-size: $font-size-large;
    color: $base-color-main
  }
}

.transfer {
  padding-top: 100px;
  h4 {
    color: rgba($white-lighten, 0.3);
  }
  &-inner {
    @include row-flex();
    margin-top: 30px;
    // @include justify-content__xs(space-between);
    &__item {
      @include col-flex();
      @include is-col__md-4();
      padding-bottom: 20px;
      .inner {
        border-top: 1px solid rgba($base-color-main, 0.2);
        @extend .flex-column;
        height: 140px;
      }
      h4 {
        // @extend .text--primary;
        color: $base-color-main;
      }
      .text__sm {
        margin-top: auto;
      }
      span {
        vertical-align: middle;
        margin-left: 8px;
      }
    }
  }
  &-auto {
    @include flex();
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgba($base-color-main, 0.2);
    h4 {
      margin-top: 0;
    }
    &-title {
      color: rgba($white-lighten, 0.5);
    }
    &__item {
      @include col-flex();
      @include is-col__md-4();
      @include is-col__xl-3();
      @extend .flex-justify;
      &:first-child {
        @include is-col__lg-2();
      }
    }
    &-img {

    }
    &-desc {
      .type {
        color: rgba($white-lighten, 0.5);
      }
    }
  }
}

.map {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid rgba($base-color-main, 0.2);
  border-bottom: 1px solid rgba($base-color-main, 0.2);
}
#map {
  height: 540px;
  width: 100%;
}
