//
// Pages -> Conference
// ------------------------------------

.conference {
  &-inner {
    margin-top: 100px;
    @extend .flex-justify;
    // @include align-items__xs(start);
    @media screen and (min-width: $screen-md-min) {
      margin-top: 200px;
    }
    &__item {
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: 55.5%;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: 46.1%;
      }
      &:first-child {
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
          width: 40%;
        }
      }
    }
  }
  .main-title {
    margin-top: 0;
  }
}

.type-catalog {
  h2 {
    margin-top: 0;
    margin-bottom: 25px;
  }
  &__item {
    margin: 70px 0;
    @extend .flex-justify;
    @media screen and (min-width: $screen-md-min) {
      margin: 150px 0;
    }
    &--right {
      .type-catalog-inner--img {
        @media screen and (min-width: $screen-md-min) {
          order: -1;
        }
      }
    }
  }
  &-inner {
    @include is-col__xs-12();
    @include is-col__md-5();
    @include is-col__xl-4();
    &--img {
      @include is-col__xs-12();
      @include is-col__md-6();
      margin-top: 20px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 0;
      }
    }
    p {
      margin-bottom: $base-size * 2;
    }
  }
}
