//
// Pages -> Launch
// ------------------------------------

.excursion {
  background-color: $color-type-3a;
  h2 {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }
  &__item {
    padding-top: 50px;
    @media screen and (min-width: $screen-md-min) {
      padding-top: 100px;
    }
  }
  &-inner {
    margin-top: 0;
    @extend .conference-inner;
    &--center {
      @include align-items__xs(center);
    }
    &__item {
      @extend .conference-inner__item;
      h4, h2 {
        margin-top: 0;
      }
    }
  }
}
