//
// Pages -> About
// ------------------------------------

.fishing {
  h2 {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }
  &__item {
    padding-top: 50px;
    @media screen and (min-width: $screen-md-min) {
      padding-top: 130px;
    }
    h2 {margin-bottom: 20px;}
  }
  &-inner {
    @extend .conference-inner;
    margin-top: 0;
    border: 1px solid $base-color-main;
    border-top: none;
    padding: 20px;
    margin: 0 -15px;
    @media screen and (min-width: $screen-md-min) {
      padding: 60px 70px;
      margin: 0;
    }
    &--center {
      @extend .launch-inner--center;
    }
    &__item {
      @extend .conference-inner__item;
    }
  }
}

.fish-catalog {
  border-top: 1px solid rgba($base-color-main, 0.2);
  padding: 30px;
  display: inline-block;
  font-size: $font-size-medium;
  margin-bottom: 60px;
  &__item {
    margin: 0 10px;
    display: inline-block;
  }
}
