//
// Pages -> Index
// ------------------------------------

.fullpage {
  &__item {
    color: $white-lighten;
    text-align: center;
  }
  &-title {
    text-shadow: 0 0 70px $black-darken;
    font-size: 30px;
    display: inline-block;
    line-height: 1.1;
    border-bottom: 1px solid $base-color-main;
    a {text-decoration: none;}
    @media screen and (min-width: $screen-adaptive-nav) {
      font-size: 70px;
    }
    @media screen and (min-width: $screen-xl-min) {
      font-size: 90px;
    }
  }
  &-decor {
    margin: $base-size 0;
    &-inner {
      display: inline-block;
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 80px;
        height: 1px;
        background: rgba($white-lighten, 0.5);
        @media screen and (min-width: $screen-adaptive-nav) {
          width: 140px;
        }
      }
      &:after {
        right: calc(100% + 20px);
      }
      &:before {
        left: calc(100% + 20px);
      }
    }
  }
  &-desc {
    max-width: 500px;
    font-size: 24px;
    line-height: 1.1;
    margin: 0 auto 10px;
    font-family: 'pf_centro_slab_proitalic';
    @media screen and (max-width: $screen-md-max) {
      display: none;
      + a {
        display: none;
      }
    }
    @media screen and (min-width: $screen-xl-min) {
      margin: 0 auto 50px;
    }
  }
}
