//
// Pages -> Launch
// ------------------------------------

.launch {
  &__item {
    margin-top: 50px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 100px;
    }
  }
  &-inner {
    margin-top: 0;
    @extend .conference-inner;
    &--center {
      @include align-items__xs(center);
    }
    &__item {
      @extend .conference-inner__item;
      h4, h2 {
        margin-top: 0;
      }
    }
    &--dist {
      margin: 60px 0;
      @media screen and (min-width: $screen-md-min) {
        margin: 180px 0 120px;
      }
    }
  }
}
