//
// Pages -> Index
// ------------------------------------

.leisure {
  padding: 50px 0 0;
  @media screen and (min-width: $screen-md-min) {
    padding: 100px 0 0;
  }
  .main-title {
    margin-bottom: 30px;
  }
  &__item {
    margin-bottom: 50px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 100px;
    }
  }
}
