//
// Pages -> Index
// ------------------------------------

.master {
  padding-top: 50px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 140px;
  }
  h2 {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }
  .slideshow {
    margin-bottom: 50px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 100px;
    }
  }
  &-steps {
    margin-top: 50px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 100px;
    }
    @extend .flex-justify;
    &__item {
      @include is-col__md-3();
      &-title {
        font-size: 72px;
        font-family: 'pf_centro_slab_proitalic';
        background: linear-gradient(to left, #10171e 0%, #151e22 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &-desc {

      }
    }
  }
}

.us-info {
  position: relative;
  padding: 10px 0;
  margin-top: 40px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;right: 0;
    margin: auto;
    width: 140px;
    height: 1px;
    border: 1px solid #ffffff;
    opacity: 0.5;
  }
  span, img {
    vertical-align: middle;
  }
  img {
    margin-right: 10px;
  }
  li {
    margin: 0 15px;
  }
}
