//
// Pages -> News
// ------------------------------------

// .grid-sizer {
//   width: 100%;
//   @media screen and (min-width: $screen-lg-min) {
//     width: 267px;
//   }
//   @media screen and (min-width: $screen-xl-min) {
//     width: 319px;
//   }
// }
.news {
  padding: 100px 0;
  &-inner {
    @include flex();
    margin-bottom: 100px;  
  }
  &__item {
    border: 1px solid $base-color-main;
    padding: 20px;
    width: 100%;
    display: block;
    text-decoration: none;
    @media screen and (min-width: $screen-md-min) {
      height: 320px;
      padding: 30px;
      width: 50%;
    }
    @media screen and (min-width: $screen-lg-min) {
      width: 33.33333%;
    }
    @media screen and (min-width: $screen-xl-min) {
      width: 25%;
      padding: 50px;
    }
    &--double {
      padding: 20px;
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        padding: 40px;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding: 40px 120px 40px 60px;
        width: 66.66666%;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: 50%;
        padding: 60px 160px 60px 80px;
      }
    }
  }
  &-date {
    color: rgba($white-lighten, 0.5);
    font-size: $font-size-tiny;
    margin-bottom: 20px;
  }
  &-title {
    margin-bottom: 15px;
    font-size: $font-size-large;
  }
  &-desc {
    color: rgba($white-lighten, 0.6);
  }
}
