//
// Pages -> Catalog
// ------------------------------------

.m-offer {
  &-title {
    color: $base-color-main;
    padding: 50px 20px;
    @media screen and (min-width: $screen-md-min) {
      text-align: center;
      padding: 100px 0;
    }
  }
}
