//
// Pages -> Launch
// ------------------------------------

.restaurant {
  &__item {
    margin-top: 100px;
  }
  &-inner {
    margin-top: 0;
    @extend .conference-inner;
    &--left {
      @include justify-content__xs(start);
      .restaurant-inner__item {
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
          width: 50%;
        }
        @media screen and (min-width: $screen-xl-min) {
          width: 40%;
        }
      }
    }
    &__item {
      @extend .conference-inner__item;
      h2 {
        margin-bottom: 30px;
      }
      h4, h2 {
        margin-top: 0;
      }
    }
  }
}

.menu-catalog {
  @include flex();
  justify-content: center;
  @media screen and (min-width: $screen-lg-min) {
    justify-content: space-between;
  }
  &__item {
    margin: 20px;
    text-align: center;
    @media screen and (min-width: $screen-lg-min) {
      margin: 0;
      text-align: left;
    }
    &-img {
      display: inline-block;
      padding: 30px;
      @include border-radius(50%);
      border: 1px solid $base-color-main;
    }
    img {@include border-radius(50%);}
  }
  &--vine {
    .menu-catalog__item {
      @media screen and (min-width: $screen-md-min) {
        width: 25%;
      }
      &-img {
        margin-left: -1px;
        padding: 10px;
        @include border-radius(0);
      }
    }
    img {@include border-radius(0);}
  }
}
