//
// Pages -> Testdrive
// ------------------------------------

.testdrive {
  &__item {
    margin-top: 60px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 180px;
    }
  }
  &-inner {
    margin-top: 0;
    @extend .conference-inner;
    &__item {
      @extend .conference-inner__item;
      h2 {
        margin-bottom: 40px;
      }
      h4, h2 {
        margin-top: 0;
      }
    }
  }
}
