//
// Pages -> About
// ------------------------------------

.about {
  h2 {
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }
  &__item {
    margin-top: 70px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 130px;
    }
    h2 {margin-bottom: 20px;}
  }
  &-inner {
    @extend .conference-inner;
    margin-top: 0;
    &--center {
      @extend .launch-inner--center;
    }
    &__item {
      @extend .conference-inner__item;
      h4, h2 {
        margin-top: 0;
      }
    }
  }
}

.card-catalog {
  margin: 50px 0 50px -15px;
  @extend .flex-justify;
  @media screen and (min-width: $screen-md-min) {
    margin: 80px 0;
  }
  &__item {
    border: 1px solid $base-color-main;
    padding: 25px 40px;
    position: relative;
    @include transition();
    margin-bottom: 30px;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: 30%;
      margin-bottom: 0;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding: 40px;
    }
    h6 {
      margin-top: 0;
    }
    &:hover {
      color: $black;
      background: $base-color-main;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      border: 1px solid $base-color-main;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

.service {
  @extend .flex-justify;
  position: relative;
  &--end {
    @include justify-content__md(end);
  }
  &--start {
    @include justify-content__xs(start);
  }
  &--marg {
    @media screen and (min-width: $screen-md-min) {
      margin: 80px 0;
    }
  }
  &__item {
    // width: 33%;
    @include is-col__md-6();
    @include is-col__lg-5();
    @include is-col__xl-4();
    &--short {
      width: 20%;
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: block;
      }
    }
    &-num {
      line-height: 1.15;
      background-image: linear-gradient(to left, #020507 0%, #0f1310 100%);
      font-family: 'pf_centro_slab_proitalic';
      font-size: 130px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media screen and (min-width: $screen-lg-min) {
        font-size: 200px;
      }
      &--abs {
        @media screen and (min-width: $screen-md-min) {
          position: absolute;
          z-index: -1;
        }
      }
      &--vert {
        transform: rotate(-90deg);
        right: -19%;
        top: -10%;
      }
    }
  }
}
