footer.footer    
  .container.relative    
    .footer-mobile
      .footer-mobile__name Отдел бронирования
      .footer-mobile__value 8-800-700-15-15
    .page-footer
      .page-footer__item
        .inner
          .page-footer--logo: img(src='images/logo-footer.png', alt='')
          .btn--decor
            a.btn.btn--default.btn__lg(href="#") Забронировать
      .page-footer__item
        ul.footer-nav
          li.footer-nav__item.footer-nav__item--title
            a.footer-nav__link(href='#') Проживание и цены
          li.footer-nav__item
            a.footer-nav__link(href='#') Одноэтажны
          li.footer-nav__item
            a.footer-nav__link(href='#') Двух-этажные коттеджи
          li.footer-nav__item
            a.footer-nav__link(href='#') Танхаусы
          li.footer-nav__item
            a.footer-nav__link(href='#') Предложения
      .page-footer__item
        ul.footer-nav
          li.footer-nav__item.footer-nav__item--title
            a.footer-nav__link(href='#') Досуг
          li.footer-nav__item
            a.footer-nav__link(href='#') Экскурсии
          li.footer-nav__item
            a.footer-nav__link(href='#') Развлечения на земле
          li.footer-nav__item
            a.footer-nav__link(href='#') Развлечения на воде
          li.footer-nav__item
            a.footer-nav__link(href='#') Развлечения в помещении
          li.footer-nav__item
            a.footer-nav__link(href='#') Для детей
      .page-footer__item
        ul.footer-nav
          li.footer-nav__item.footer-nav__item--title
            a.footer-nav__link(href='#') Ресторан
          li.footer-nav__item.footer-nav__item--title
            a.footer-nav__link(href='#') Для бизнеса
          li.footer-nav__item.footer-nav__item--title
            a.footer-nav__link(href='#') Новости
          li.footer-nav__item.footer-nav__item--title
            a.footer-nav__link(href='#') Контакты
        ul.social-nav.hidden__sm.hidden__xs
          li.social-nav__item
            a.social-nav__link(href='#'): img(src='images/icons/insta.png', alt='')
          li.social-nav__item
            a.social-nav__link(href='#'): img(src='images/icons/face.png', alt='')
          li.social-nav__item
            a.social-nav__link(href='#'): img(src='images/icons/vk.png', alt='')
      .page-footer__item
        .page-footer-title 8-800-700-15-15
        .page-footer-name Отдел бронирования
        a.page-footer-mail(href='mailto:ladoga@gmail.com') ladoga@gmail.com
        ul.social-nav.hidden__md.hidden__lg.hidden__xl.margtop30
          li.social-nav__item
            a.social-nav__link(href='#'): img(src='images/icons/insta.png', alt='')
          li.social-nav__item
            a.social-nav__link(href='#'): img(src='images/icons/face.png', alt='')
          li.social-nav__item
            a.social-nav__link(href='#'): img(src='images/icons/vk.png', alt='')
    .logotypes.logotypes--line
      .logotypes__item: a(href='#'): img(src='images/logo-01.png', alt='')
      .logotypes__item: a(href='#'): img(src='images/logo-02.png', alt='')
      .logotypes__item: a(href='#'): img(src='images/logo-04.png', alt='')
      .logotypes__item: a(href='#'): img(src='images/logo-03.png', alt='')
      .logotypes__item: a(href='#'): img(src='images/logo-05.png', alt='')
      .logotypes__item: a(href='#'): img(src='images/logo-06.png', alt='')
    .page-footer__copyright 
      p © Комплекс «Ладожская Усадьба», 2017
      a(href='#') Сделано в CloudMill
