header.header.header--border
    .container
      .page-header
        .page-header__logo
            a(href="/")
                img(src="images/logo.png", alt="Company ltd.")
        include ../components/_navbar
        .page-header__btn
          .btn--decor
            a.btn.btn--default.btn__lg.popup(href="#form-id") Забронировать
