$icons: (
	  sprite: (width: 843px, height: 93px, svgPath: '../images/svg/sprite.svg'),
 	burger: (width: 31px, height: 20px, backgroundX: 0px, backgroundY: 0px),
 	cal-nx: (width: 37px, height: 72px, backgroundX: -51px, backgroundY: 0px),
 	cal-pr: (width: 38px, height: 73px, backgroundX: -108px, backgroundY: 0px),
 	calendar-ico: (width: 19px, height: 14px, backgroundX: -166px, backgroundY: 0px),
 	close: (width: 16px, height: 16px, backgroundX: -205px, backgroundY: 0px),
 	close-bg: (width: 32px, height: 32px, backgroundX: -241px, backgroundY: 0px),
 	dot: (width: 6px, height: 6px, backgroundX: -293px, backgroundY: 0px),
 	facebook: (width: 10px, height: 22px, backgroundX: -319px, backgroundY: 0px),
 	people: (width: 31.5px, height: 31.5px, backgroundX: -349px, backgroundY: 0px),
 	percent_icon: (width: 20px, height: 20px, backgroundX: -401px, backgroundY: 0px),
 	play: (width: 72px, height: 72px, backgroundX: -441px, backgroundY: 0px),
 	playbtn: (width: 13px, height: 18px, backgroundX: -533px, backgroundY: 0px),
 	right-arr: (width: 7px, height: 12px, backgroundX: -566px, backgroundY: 0px),
 	romb: (width: 25.060000000000002px, height: 25.060000000000002px, backgroundX: -593px, backgroundY: 0px),
 	route: (width: 30px, height: 39px, backgroundX: -639px, backgroundY: 0px),
 	slide-next: (width: 5px, height: 10px, backgroundX: -689px, backgroundY: 0px),
 	slide-prev: (width: 6px, height: 10px, backgroundX: -714px, backgroundY: 0px),
 	square: (width: 31px, height: 31px, backgroundX: -740px, backgroundY: 0px),
 	twitter: (width: 32px, height: 22px, backgroundX: -791px, backgroundY: 0px),
);
