main.page-main
  section.banner(style='background:url("images/banner-6.jpg") no-repeat center center / cover')
    .container
      include ../components/_breadcrumbs
      .text--center
        h1= title
        .fullpage-decor.hidden__sm.hidden__xs: .fullpage-decor-inner: img(src='images/keys.png', alt='')
        .fullpage-desc У нас есть все, не хватает вашего общества
        .logotypes.logotypes--full
          .logotypes-inner
            .logotypes__item: img(src='images/logo-1.png', alt='')
            .logotypes__item: img(src='images/logo-2.png', alt='')
            .logotypes__item: img(src='images/logo-3.png', alt='')
  section
    ul.sec-nav
      li.sec-nav__item: a.sec-nav__link(href='#') Размещение
      li.sec-nav__item: a.sec-nav__link(href='#') VIP консьерж
      li.sec-nav__item: a.sec-nav__link(href='#') Расположение Усадьбы
      li.sec-nav__item: a.sec-nav__link(href='#') Досуг
      li.sec-nav__item: a.sec-nav__link(href='#') Историзм
  section.about
    .container
      .container--10.container--center
        .about__item
          h2.main-title В самом #[span.text--primary сердце] Карелии
          .about-inner
            .about-inner__item
              h4 Богатейшая природа, кристально-чистая вода, прозрачный воздух, множество даров природы и животного мира
            .about-inner__item
              .l-notice.l-notice--default Есть край, красота которого не оставляет равнодушным никого. Это земля ледникового происхождения – Карелия. Здесь, на краю самого большого озера в Европе – Ладоги, раскинулось Северное Приладожье, восхищающее своей богатейшей природой, кристально-чистой водой, прозрачным воздухом, богатством даров природы и животного мира.
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-7.jpg', alt='')
        .card-catalog
          .card-catalog__item
            h6 Прогулки без ветра
            p Про обработку от насекомых и комфортный отдых, а так же отсутствие аллергии у детей
          .card-catalog__item
            h6 Обработка от насекомых
            p Про обработку от насекомых и комфортный отдых, а так же отсутствие аллергии у детей
          .card-catalog__item
            h6 Мелководье
            p Про безопасность для детей благодаря мелководью
        .about__item
          h2.main-title Сервис, к которому #[br] вы #[span.text--primary привыкли]
          .service.service--end
            .service__item
              .service__item-num.service__item-num--abs 24/7
            .service__item
              h6.text--primary Ваш личный VIP-консьерж 24/7
              p VIP-консьерж – это ваш личный помощник. Правая рука каждого без исключения гостя. Функциональные обязанности VIP-консьержа – обеспечение гостям информационной, организационной и сервисной поддержки на весь период пребывания гостей в гостиничном комплексе.
            .service__item
              h6.text--primary Высококлассная косметика в номерах
              p Во всех домах для гостей приготовлены косметические принадлежнсти мировых брендов — Bvlgari, Babor.
        .about__item
          h2.main-title Размещение на #[span.text--primary высочайшем] уровне
          .about-inner
            .about-inner__item
              h4 Семнадцать современных коттеджей и таунхаусов с сохранением исторической принадлежности ко времени основания Усадьбы.
            .about-inner__item
              .l-notice.l-notice--default Описание коттеджей. Панорамный вид, на берегу озера и тому подобное. Одноэтажные коттеджи первой линии расположены на самом берегу Ладожского озера. Отличительной особенностью данных коттеджей является незабываемый панорамный вид из больших окон и открытой террасы на залив Ниэмелянсалми.
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-8.jpg', alt='')
          .text--center.marg__lg
            .btn--decor
              a.btn.btn--default.btn__lg(href="#") Посмотреть варианты размещения
        .about__item
          h2.main-title #[span.text--primary Досуг]
          .about-inner
            .about-inner__item
              h4 Занятие найдется для каждого
            .about-inner__item
              .l-notice.l-notice--default Описание коттеджей. Панорамный вид, на берегу озера и тому подобное. Одноэтажные коттеджи первой линии расположены на самом берегу Ладожского озера. Отличительной особенностью данных коттеджей является незабываемый панорамный вид из больших окон и открытой террасы на залив Ниэмелянсалми.
          .slideshow
            .slideshow-inner              
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-9.jpg', alt='')
        .about__item
          h2.main-title Особая #[span.text--primary история] места
          h4 вот что придет Лодожской Усадьбе #[br] неповторимый флер романтики #[br] и ностальгии по прекрасной эпохе
          .service.service--marg.service--start
            .service__item
              .service__item-num 1892
            .service__item
              p Славная история началась более ста ет назад, когда в 1892 году именитый финский землевладелец Оскар Петрус Ниссинен вместе с женой Верой основал здесь хозяйство. Были построены хозяйственностьюский дом, конюшня, элеватор для хранения зерна, жилой дом для рабочих. Усадьба даже имела свой пирс, с которого по маршруту Сортавала - Ниемелянсалми отходил принадлежащий Оскару пароход.
              p Славная история началась более ста ет назад, когда в 1892 году именитый финский землевладелец Оскар Петрус Ниссинен вместе с женой Верой основал здесь хозяйство.
              p Славная история началась более ста ет назад, когда в 1892 году именитый финский землевладелец Оскар Петрус Ниссинен вместе с женой Верой основал здесь хозяйство. Были построены хозяйственностьюский дом, конюшня, элеватор для хранения зерна, жилой дом для рабочих. Усадьба даже имела свой пирс, с которого по маршруту Сортавала - Ниемелянсалми отходил принадлежащий Оскару пароход.
            .service__item.service__item--short
              .service__item-num.service__item-num--abs.service__item-num--vert history
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-10.jpg', alt='')
        .about__item
          .about-inner.about-inner--center
            .about-inner__item
              h4 Ладожская Усадьба имеет статус памятника культурного наследия России. На территории располагается #[span.text--primary 8 памятников] архитектуры.
            .about-inner__item
              .l-notice.l-notice--info Шли годы. Усадьба стала свитдетельницей революции, войн, смены эпох и правителей. Ветшали и приходили в негодность некогда величественные постройки. Наконец, в 2014 году началась новая жизнь Усадьбы — теперь в качестве гостиничного комплексаса премиум-класса. По оставшимся историческим документам воссдовались здания в стиле "Северный модерн" и интерьеры усадьбы Ниссиненов.
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-11.jpg', alt='')
        include ../components/_contact
        h2.main-title Посмотрите, как можно #[br] провести  #[span.text--primary время в Усадьбе]
        .catalog.catalog--lg
          .catalog-inner
              +catalog(catalog2)
