main.page-main
  section.banner(style='background:url("images/banner-1.jpg") no-repeat center center / cover')
    .container
      include ../components/_breadcrumbs
      .text--center
        h1= title
  section.bath
    .container
      .container--10.container--center 
        .bath__item.bath__item--half
          .bath-quote Банный комплекс в «Ладожской Усадьбе» создан для тех, кто ценит полезный отдых в роскошной обстановке.
          .l-notice.l-notice--warning: p Здесь Вы сможете забыть о будничной суете и тревогах и погрузиться в мир блаженства и беззаботности. Идеальная чистота и порядок, качественное оборудование, широчайший спектр услуг банного комплекса воплощают все представления о банном комплексе, сочетающем лучшие традиции парных и современные представления о комфорте.
        .slideshow
          .slideshow-inner
            .slider-arrow
            - for (var x = 1; x < 6; x++)
              .option: img(src='images/slide-1.jpg', alt='')
        .bath__item.bath__item--half
          .bath-quote Пологи комплекса изготовлены из высококачественного африканского дуба, стены просторной парной обшиты экологически чистой липой
          .bath-notice 
            p В двух шагах от парной и зоны отдыха находятся мостки-понтоны, позволяющие с комфортом окунуться в воды Ладоги.  В зимнее время желающие получить невероятный взрыв адреналина имеют возможность нырнуть в специально подготовленную ледяную прорубь.
            p Внутренняя зона отдыха банного комплекса – это большое помещение с панорамными окнами,через которые открывается невероятный вид на ровную гладь озера, нетронутую природу, завораживающие просторы Ладоги
        .bath-icons
          .bath-icons__item
           .bath-icons__item-icon
             img(src='images/icons/bath-icon-1.png', alt='')
           .bath-icons__item-desc Большая раздевалка
          .bath-icons__item
           .bath-icons__item-icon
             img(src='images/icons/bath-icon-2.png', alt='')
           .bath-icons__item-desc Санузел
          .bath-icons__item
           .bath-icons__item-icon
             img(src='images/icons/bath-icon-3.png', alt='')
           .bath-icons__item-desc Массажный кабинет
          .bath-icons__item
           .bath-icons__item-icon
             img(src='images/icons/bath-icon-4.png', alt='')
           .bath-icons__item-desc Просторные душевые
          .bath-icons__item
           .bath-icons__item-icon
             img(src='images/icons/bath-icon-5.png', alt='')
           .bath-icons__item-desc Зона отдыха на открытом #[br] воздухе с мангалом
          .bath-icons__item
           .bath-icons__item-icon
             img(src='images/icons/bath-icon-6.png', alt='')
           .bath-icons__item-desc Русская парная
          .bath-icons__item
           .bath-icons__item-icon
             img(src='images/icons/bath-icon-7.png', alt='')
           .bath-icons__item-desc Мини кухня
          .bath-icons__item
           .bath-icons__item-icon
             img(src='images/icons/bath-icon-8.png', alt='')
           .bath-icons__item-desc Удобные диваны
        .bath-table
          .text--center
            h2 Стоимость
          .table-inner.danger
            table.table.table--bottom.table--lg
              tbody
                tr
                  td
                    p.text__md.text--primary Взаброс
                    p Катер RIB Буревестник-630
                    p Катер Silver North Pro
                  td 
                    p До 3-х человек
                    p До 4-х человек
                  td.text--right
                    p 4 000/ 1 час
                    p 23 000/ 6 часов
                tr
                  td
                    p.text__md.text--primary Троллинговая рыбалка
                    p Катер Silver North Pro 745
                  td 
                    p До 8-х человек
                  td.text--right
                    p 23 000/ 6 часов
                tr
                  td
                    p.text__md.text--primary Комбинированная рыбалка
                    p Катер Silver North Pro 745
                  td 
                    p До 7-х человек
                  td.text--right
                    p 42 000/ 12 часов
        include ../components/_contact
        h2.main-title Другие #[span.text--primary экскурсии]
        .catalog.catalog--lg
          .catalog-inner
              +catalog(catalog2)
