main.page-main
  section.full-screen
    .container
      .container--10.container--center 
        h2.main-title Для #[span.text--primary бизнеса]
        .catalog.catalog--sizelg.catalog--distance
          .catalog-inner
              +catalog(catalog1)
