main.page-main
  section.marg__lg
    .container
      include ../components/_breadcrumbs 
  section.card
    .m-catalog-container
      .m-catalog__item.m-catalog__item--bot.m-catalog__item--nob
        .m-catalog__item-elem
          .m-catalog__item-body
            h2.main-title #[span.text--primary Одно]этажные #[br] коттеджи
            p Одноэтажные коттеджи первой линии расположены на самом берегу Ладожского озера. Отличительной особенностью данных коттеджей является незабываемый панорамный вид из больших окон и открытой террасы на залив Ниэмелянсалми.
            .m-catalog__item-footer.m-catalog__item-footer--border
              .m-catalog__item-btn
                ul.list--inline.list--inline-zero
                  li
                    i.is-icons.is-icons--square
                    span 132 м#[sup 2]
                    i.is-icons.is-icons--people
                    span 6 человек
              .m-catalog__item-price
                  span от &nbsp;
                  | 46 000 P
        .m-catalog__item-elem.m-catalog__item-elem--border.m-catalog__item-img
          .slideshow
            .filtering
              .slider-arrow.slider-arrow--bot
              - for (var x = 1; x < 6; x++)
                .option(style='background:url("images/slide-22.jpg") no-repeat center center;')= x        
          .tabs-inner
            ul.tabs__caption.list--inline
               li.tabs__caption-item.btn.btn--outlined.btn__sm.js-filter-2 Все
               li.tabs__caption-item.js-filter Внутри
               li.tabs__caption-item.js-filter-1 Снаружи      
    .container
      .container--10.container--center
        .card__item          
          h2.main-title В коттедже есть
            a.btn.btn--outlined.btn__sm.btn--wtitle(href='#') Скачать планировку (pdf)
            .sub-title Помещения
          .catalog
            .catalog-inner
              +catalog-d(catalog9)
        .card__item          
          h2.main-title Удобства
          .bath-icons
            .bath-icons__item
             .bath-icons__item-icon
               img(src='images/icons/card-1.png', alt='')
             .bath-icons__item-desc Косметика Bvlgary, Babor
            .bath-icons__item
             .bath-icons__item-icon
               img(src='images/icons/card-2.png', alt='')
             .bath-icons__item-desc Фен, утюг #[br] и гладильная доска
            .bath-icons__item
             .bath-icons__item-icon
               img(src='images/icons/card-3.png', alt='')
             .bath-icons__item-desc Питьевая бутилированная #[br] вода и чайные наборы
            .bath-icons__item
             .bath-icons__item-icon
               img(src='images/icons/card-4.png', alt='')
             .bath-icons__item-desc Халаты и тапочки
            .bath-icons__item
             .bath-icons__item-icon
               img(src='images/icons/card-5.png', alt='')
             .bath-icons__item-desc При надобности — #[br] детские кроватки и кресла
            .bath-icons__item
             .bath-icons__item-icon
               img(src='images/icons/card-6.png', alt='')
             .bath-icons__item-desc Москитные сетки
            .bath-icons__item
             .bath-icons__item-icon
               img(src='images/icons/card-7.png', alt='')
             .bath-icons__item-desc WI-FI и спутниковый интернет
        .card__item
        .card__item.card__item--border
          .card-catalog
            .card-catalog__item
              h6 Прогулки без ветра
              p Про обработку от насекомых и комфортный отдых, а так же отсутствие аллергии у детей
            .card-catalog__item
              h6 Обработка от насекомых
              p Про обработку от насекомых и комфортный отдых, а так же отсутствие аллергии у детей
            .card-catalog__item
              h6 Мелководье
              p Про безопасность для детей благодаря мелководью
        .card__item
          h2.main-title Одноэтажные #[span.text--primary коттеджи] #[br] на карте усадьбы 
          img(src='images/card.jpg', alt='')
        include ../components/_contact
        h2.main-title Посмотрите, как можно #[br] провести  #[span.text--primary время в Усадьбе]
        .catalog.catalog--lg
          .catalog-inner
              +catalog(catalog2)
