main.page-main
  section.m-catalog
    .m-catalog-container
      .m-catalog__item
        .m-catalog__item-elem
          .m-catalog__item-body
            h2.main-title #[span.text--primary Двух]этажные #[br] коттеджи
            p.text--grey Вид на Ладожские шхеры
            ul.list--inline.marg__lg
              li
                i.is-icons.is-icons--square
                span 240 м#[sup 2]
                i.is-icons.is-icons--people
                span 8 человек
            .m-catalog__item-footer
              .m-catalog__item-btn
                .btn--decor
                  a.btn.btn--default.btn__lg(href="#") Подробнее
              .m-catalog__item-price
                  span от &nbsp;
                  | 46 000 P
        .m-catalog__item-elem
          .slideshow
            .slideshow-inner              
              .slider-arrow.slider-arrow--bot
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-16.jpg', alt='')         
      .m-catalog__item.m-catalog__item--right
        .m-catalog__item-elem
          .m-catalog__item-body
            h2.main-title #[span.text--primary Одно]этажные #[br] коттеджи
            p.text--grey Вид на Ладожские шхеры
            ul.list--inline
              li
                i.is-icons.is-icons--square
                span 120 м#[sup 2]
                i.is-icons.is-icons--people
                span 6 человек
            .m-catalog__item-footer
              .m-catalog__item-btn
                .btn--decor
                  a.btn.btn--default.btn__lg(href="#") Подробнее
              .m-catalog__item-price
                  span от  &nbsp;
                  | 24 000 P                       
        .m-catalog__item-elem
          .slideshow
            .slideshow-inner              
              .slider-arrow.slider-arrow--bot
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-17.jpg', alt='')   
      .m-catalog__item  
        .m-catalog__item-elem
          .m-catalog__item-body
            h2.main-title #[span.text--primary Танхаусы]
            p.text--grey Вид на приладожский лес
            ul.list--inline
              li
                i.is-icons.is-icons--square
                span 480 м#[sup 2]
                i.is-icons.is-icons--people
                span 18 человек
            .m-catalog__item-footer
              .m-catalog__item-btn
                .btn--decor
                  a.btn.btn--default.btn__lg(href="#") Подробнее
              .m-catalog__item-price
                  span от  &nbsp;
                  | 71 000 P                       
        .m-catalog__item-elem
          .slideshow
            .slideshow-inner              
              .slider-arrow.slider-arrow--bot
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-18.jpg', alt='')  
