main.page-main
  section.banner(style='background:url("images/banner-4.jpg") no-repeat center center / cover')
    .container
      include ../components/_breadcrumbs
      .text--center
        h1= title
        p.text__md Пригласите ваших партнеров провести деловую встречу, отметить подписание контракта #[br] или юбилей фирмы, да и просто привезите своих сотрудников отдохнуть #[br] на свежем воздухе и познакомиться с прекрасной природой Северного Приладожья.
  section.conference
    .container
      .container--10.container--center 
        .conference-inner
          .conference-inner__item
            h2.main-title Деловые мероприятия
          .conference-inner__item
            .l-notice.l-notice--default Гостиничный комплекс «Ладожская Усадьба» обладает всем необходимым современным техническим оборудованием и имеет все возможности для проведения различного рода мероприятий: конференций, семинаров, презентаций, тренингов, деловых встреч и совещаний
        .slideshow
          .slideshow-inner
            .slider-arrow
            - for (var x = 1; x < 6; x++)
              .option: img(src='images/slide-3.jpg', alt='')
        .type-catalog
          .type-catalog__item
            .type-catalog-inner
              h2.main-title Зал «Оскар»
              p Зал находится в западном крыле исторического здания постройки начала XХ века. Светлое помещение идеально подходит для проведения обучающих семинаров, лекций, конференций и мастер-классов. Расположенные полукругом стулья позволяют каждому участнику мероприятия видеть и слышать выступающих спикеров.
              ul.list--inline
                li
                  i.is-icons.is-icons--square
                  span 132 м#[sup 2]
                  i.is-icons.is-icons--people
                  span 65 человек
            .type-catalog-inner.type-catalog-inner--img
              img(src='images/conference.jpg', alt='')      
          .type-catalog__item.type-catalog__item--right
            .type-catalog-inner
              h2.main-title Зал «Оскар»
              p Зал находится в западном крыле исторического здания постройки начала XХ века. Светлое помещение идеально подходит для проведения обучающих семинаров, лекций, конференций и мастер-классов. Расположенные полукругом стулья позволяют каждому участнику мероприятия видеть и слышать выступающих спикеров.
              ul.list--inline
                li
                  i.is-icons.is-icons--square
                  span 64 м#[sup 2]
                  i.is-icons.is-icons--people
                  span 24 человек
            .type-catalog-inner.type-catalog-inner--img
              img(src='images/conference.jpg', alt='')
        include ../components/_contact
