main.page-main
  section.contacts.hidden__sm.hidden__xs
    .container
      .container--10.container--center 
        .contacts-header
          h2.text--primary= title
          ul.list--inline
            li: i.is-icons.is-icons--romb
            li: i.is-icons.is-icons--romb
            li: i.is-icons.is-icons--romb
        .reservation
          .reservation__item
            .reservation-phone 8-800-700-15-15
              p.text__sm Круглосуточно
            .reservation-email ladoga@gmail.com
            .reservation-title Администрация
          .reservation__item
            .reservation-phone 8-800-700-15-17
            .reservation-title Корпоративные и деловые мероприятия
          .reservation__item
            .reservation-phone 8-800-700-12-15
            .reservation-title Реклама и PR
          .reservation__item
            .reservation-phone 8-800-700-11-15
            .reservation-title Дирекция
  section.contacts.contacts--grad
    .container
      .container--10.container--center
        .contacts-road
          .contacts-road__item
            h3 Наш адрес
            h4.text--primary Республика Карелия, #[br] г. Сортавала, п. Ниэмелянхови, #[br] ул.Озерная, д. 1
            .btn--decor
              a.btn.btn--default.btn__lg(href="#") Скачать контактную информацию (pdf)
          .contacts-road__item.hidden__lg.hidden__md.hidden__xl 
            img(src='images/map.jpg', alt='')
          .contacts-road__item
            h3 Вы можете прибыть на:
            .contacts-road-inner
              .contacts-road-inner__elem
                h4.text--primary Машине
                p На территории усадьбы есть парковка
                .coordinates
                  .coordinates-header По земле: 
                  .coordinates-body Широта: 61°36′35.02″N (61.609728) #[br] Долгота: 30°34′5.61″E (30.568224)
              .contacts-road-inner__elem
                h4.text--primary Вертолете
                p На территории усадьбы 2 вертолетные площадки
                .coordinates
                  .coordinates-header По воздуху: 
                  .coordinates-body Широта: 61°36′31.62″N #[br] Долгота: 30°34′16.82″E
              .contacts-road-inner__elem
                h4.text--primary Яхте
                p Минимальная глубина — 2 метра                
                .coordinates
                  .coordinates-header По воде:
                  .coordinates-body Широта: 61°36′37.80″N #[br] Долгота: 30°34′10.63″E
  section.contacts.hidden__sm.hidden__xs
    .container
      .container--10.container--center
        .transfer
          h3 Трансфер
          h4 Встречаем из:
          .transfer-inner
            .transfer-inner__item
              .inner
                h4 Санкт-Петербурга
                p Аэропорты Пулково 1, Пулково 2
                p.text__sm
                  img(src='images/icons/master-ico-1.png', alt='')
                  span 7 часов
            .transfer-inner__item
              .inner
                h4 Петрозаводска
                p Аэропорт
                p.text__sm
                  img(src='images/icons/master-ico-1.png', alt='')
                  span 7 часов
            .transfer-inner__item
              .inner
                h4 Сартавалы
                p Автовокзал
                p.text__sm
                  img(src='images/icons/master-ico-1.png', alt='')
                  span 7 часов
        .transfer-auto
          .transfer-auto__item
            h4.transfer-auto-title Транспорт
          .transfer-auto__item
            .transfer-auto-img
              img(src='images/icons/car.png', alt='')
            .transfer-auto-desc
              h4.text--primary Viano, 5 чел
              p.type Первоклассный мини-вен
              p.transfer-route Из Санкт-Петербурга — 19 500 Р #[br] Из Петрозаводска — 19 500 Р #[br] Из Сортавалы — 19 500 Р
          .transfer-auto__item
            .transfer-auto-img
              img(src='images/icons/car.png', alt='')
            .transfer-auto-desc
              h4.text--primary Sprinter, 18 чел.
              p.type Комфортный седан
              p.transfer-route Из Санкт-Петербурга — 19 500 Р #[br] Из Петрозаводска — 19 500 Р #[br] Из Сортавалы — 19 500 Р
        .map
          script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIwxPKB0U5RRTgWEElBHP1s6dkY4OJWM&callback=initMap", defer, async)
          #map
        include ../components/_contact
              
            
