main.page-main
  section.banner(style='background:url("images/banner-10.jpg") no-repeat center center / cover')
    .container
      include ../components/_breadcrumbs
      .text--center
        h1= title
        h4 Экскурсия
        ul.list--inline.us-info
          li
            img(src='images/icons/master-ico-1.png', alt='')
            span 7 часа
          li
            img(src='images/icons/master-ico-2.png', alt='')
            span Экскурсовод
  section.excursion
    .container
      .container--10.container--center
        .excursion__item.text--center
          img(src='images/icons/route.png', alt='')
          h2 Маршрут
          .route
            .route__item
              .route__item-title Ладожская усадьба
              .route__item-dot
            .route__item
              i.is-icons.is-icons--right-arr
            .route__item
              .route__item-title Сортавала
              .route__item-dot
            .route__item
              i.is-icons.is-icons--right-arr
            .route__item
              .route__item-title Мраморный каньон
              .route__item-dot
            .route__item
              i.is-icons.is-icons--right-arr
            .route__item
              .route__item-title Ладожская усадьба
              .route__item-dot
        .excursion__item
          h2.main-title Что вы #[span.text--primary увидите]
          .excursion-inner
            .excursion-inner__item
              h4 Город Сортавала
            .excursion-inner__item
              .l-notice.l-notice--default Северное Приладожье – удивительное место. По красоте, самобытности и близости душе русского человека оно не сравнится ни с одним курортом мира. Для гостей «Ладожской Усадьбы» продуманы все виды экскурсионных туров по Карелии.
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-19.jpg', alt='')
        .excursion__item
          .excursion-inner.excursion-inner--center
            .excursion-inner__item
              h4 Мраморный каньон
            .excursion-inner__item
              .l-notice.l-notice--warning Северное Приладожье – удивительное место. По красоте, самобытности и близости душе русского человека оно не сравнится ни с одним курортом мира. Для гостей «Ладожской Усадьбы» продуманы все виды экскурсионных туров по Карелии.
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-20.jpg', alt='')
        .excursion__item.text--center
          h3.title-grad «Горный парк «Рускеала» — это, #[br] прежде всего, необыкновенной красоты #[br] бывший мраморный каньон»
        .excursion__item
          .excursion-inner.excursion-inner--center
            .excursion-inner__item
              h4 Итальянский карьер
            .excursion-inner__item
              .l-notice.l-notice--warning Северное Приладожье – удивительное место. По красоте, самобытности и близости душе русского человека оно не сравнится ни с одним курортом мира. Для гостей «Ладожской Усадьбы» продуманы все виды экскурсионных туров по Карелии.
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-21.jpg', alt='')
        .excursion__item
          .text--center
            img(src='images/icons/car-o.png', alt='')
            h2 Транспорт
          .transport
            .transport__item
              img(src='images/icons/car-s.png', alt='')
              h4.text--primary Viano, 5 чел
              p Северное Приладожье – удивительное место. По красоте, самобытности и близости душе русского человека оно не сравнится ни с одним курортом мира.
            .transport__item
              img(src='images/icons/car-s.png', alt='')
              h4.text--primary Sprinter, 18 чел.
              p Северное Приладожье – удивительное место. По красоте, самобытности и близости душе русского человека оно не сравнится ни с одним курортом мира.
  section.excursion
    .container
      .container--10.container--center
        .bath-table
          .text--center
            h2 Стоимость
          .table-inner.danger
            table.table.table--bottom.table--lg
              tbody
                tr
                  td
                    p.text__md.text--primary Взаброс
                    p Катер RIB Буревестник-630
                    p Катер Silver North Pro
                  td 
                    p До 3-х человек
                    p До 4-х человек
                  td.text--right
                    p 4 000/ 1 час
                    p 23 000/ 6 часов
                tr
                  td
                    p.text__md.text--primary Троллинговая рыбалка
                    p Катер Silver North Pro 745
                  td 
                    p До 8-х человек
                  td.text--right
                    p 23 000/ 6 часов
                tr
                  td
                    p.text__md.text--primary Комбинированная рыбалка
                    p Катер Silver North Pro 745
                  td 
                    p До 7-х человек
                  td.text--right
                    p 42 000/ 12 часов
        include ../components/_contact
        h2.main-title #[span.text--primary Другие] экскурсии
        .catalog.catalog--lg
          .catalog-inner
              +catalog(catalog2)
