main.page-main
  section.banner(style='background:url("images/banner-7.jpg") no-repeat center center / cover')
    .container
      include ../components/_breadcrumbs
      .text--center
        h1= title
        h4 Все катера оборудованы эхолотами и навигаторами. Профессиональные #[br] инструктора-фишеры тщательно спланируют маршрут #[br] и организуют тур по "рыбным местам". Прокат спиннингов и удочек, приманок.
  section.fishing
    .container
      .container--10.container--center
        .fishing__item
          .text--center
            h2 Виды рыбалки в Ладожской Усадьбе
            .fish-catalog
              .fish-catalog__item Троллинговая
              .fish-catalog__item: i.is-icons.is-icons--dot
              .fish-catalog__item Комбинированная
              .fish-catalog__item: i.is-icons.is-icons--dot
              .fish-catalog__item Взаброс
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-12.jpg', alt='')
          .fishing-inner.fishing-inner--center
            .fishing-inner__item
              h4 В окрестностях водится много видов рыбы
              p.text--grey Летом – щука, окунь, язь, хариус, палия, судак. Зимой — сиг, окунь, плотва, ерш, щука, налим.
            .fishing-inner__item
              img(src='images/fish.png', alt='')
        .bath-table
          .text--center
            h2 Стоимость
          .table-inner.info
            table.table.table--bottom.table--lg
              tbody
                tr
                  td
                    p.text__md.text--primary Взаброс
                    p Катер RIB Буревестник-630
                    p Катер Silver North Pro
                  td 
                    p До 3-х человек
                    p До 4-х человек
                  td.text--right
                    p 4 000/ 1 час
                    p 23 000/ 6 часов
                tr
                  td
                    p.text__md.text--primary Троллинговая рыбалка
                    p Катер Silver North Pro 745
                  td 
                    p До 8-х человек
                  td.text--right
                    p 23 000/ 6 часов
                tr
                  td
                    p.text__md.text--primary Комбинированная рыбалка
                    p Катер Silver North Pro 745
                  td 
                    p До 7-х человек
                  td.text--right
                    p 42 000/ 12 часов
        include ../components/_contact
        h2.main-title Другие развлечения #[span.text--primary на воде]
        .catalog.catalog--lg
          .catalog-inner
              +catalog(catalog2)
