main.page-main
  #fullpage.fullpage
    +fullpage__item(fullpage) 
    section.section.fp-auto-height.main-offer
      .decorlines
        .decorlines-top: .decorlines__item
        .decorlines-left: .decorlines__item
        .decorlines-right: .decorlines__item
        .decorlines-bottom: .decorlines__item
      .container
        .text--center
          h2 Специальные  предложения и цены
        .catalog-inner
          .m-catalog__item
            .m-catalog__item-elem
              .m-catalog__item-body
                h3 Предложение №1
            .m-catalog__item-elem
              img(src="images/offer-1.jpg", alt='')
          .m-catalog__item
            .m-catalog__item-elem
              .m-catalog__item-body
                h3 Предложение №2
            .m-catalog__item-elem
              img(src="images/offer-2.jpg", alt='')
          .m-catalog__item
            .m-catalog__item-elem
              .m-catalog__item-body
                h3 Предложение №3
            .m-catalog__item-elem
              img(src="images/offer-3.jpg", alt='')
    section.section.fp-auto-height.main-offer
      .decorlines
        .decorlines-top: .decorlines__item
        .decorlines-left: .decorlines__item
        .decorlines-right: .decorlines__item
        .decorlines-bottom: .decorlines__item
      .container
        .text--center
          h2 Как добраться
        .main-map
          p.margbot30.text--primary: i Республика Карелия, #[br] г. Сортавала, п. Ниэмелянхови, #[br] ул.Озерная
          script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIwxPKB0U5RRTgWEElBHP1s6dkY4OJWM&callback=initMap", defer, async)
          #map(style='height: 183px;')
    section.section.fp-auto-height
      include ../partials/_footer-main
