main.page-main
  section.banner(style='background:url("images/banner-5.jpg") no-repeat center center / cover')
    .container
      include ../components/_breadcrumbs
      .text--center
        h1= title
  section.launch
    .container
      .container--10.container--center
        .launch__item
          h2.main-title Маршруты
          .launch-inner
            .launch-inner__item
              h4 Прогулки по шхерам
            .launch-inner__item
              .l-notice.l-notice--default В переводе с норвежского «шхера» -  означает «скала в море». В шхерной зоне Ладожского озера насчитывается около 600 (!!!) островов. Большие или маленькие, покрытые хвойным лесом или покатые и гладкие как ладонь, возвышающиеся неприступной скалой над волнами озера – все это великолепие создал ледник. 
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-4.jpg', alt='')
        .launch__item
          .launch-inner.launch-inner--dist
            .launch-inner__item
              h2.main-title Прогулки по #[span.text--primary акватории]
              h4 Прогулки по шхерам
            .launch-inner__item
              .l-notice Северное Приладожье – удивительное место. По красоте, самобытности и близости душе русского человека оно не сравнится ни с одним курортом мира. Для гостей «Ладожской Усадьбы» продуманы все виды экскурсионных туров по Карелии.
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-5.jpg', alt='')
        .launch__item
          .launch-inner.launch-inner--center
            .launch-inner__item
              h4 Поездка на Валаам
              p.text--grey Ожидание на острове — 3 часа
            .launch-inner__item
              .l-notice.l-notice--info Северное Приладожье – удивительное место. По красоте, самобытности и близости душе русского человека оно не сравнится ни с одним курортом мира. Для гостей «Ладожской Усадьбы» продуманы все виды экскурсионных туров по Карелии.
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-6.jpg', alt='')
        .bath-table
          .text--center
            h2 Стоимость
          .table-inner.info
            table.table.table--bottom.table--lg
              tbody
                tr
                  td
                    p.text__md.text--primary Взаброс
                    p Катер RIB Буревестник-630
                    p Катер Silver North Pro
                  td 
                    p До 3-х человек
                    p До 4-х человек
                  td.text--right
                    p 4 000/ 1 час
                    p 23 000/ 6 часов
                tr
                  td
                    p.text__md.text--primary Троллинговая рыбалка
                    p Катер Silver North Pro 745
                  td 
                    p До 8-х человек
                  td.text--right
                    p 23 000/ 6 часов
                tr
                  td
                    p.text__md.text--primary Комбинированная рыбалка
                    p Катер Silver North Pro 745
                  td 
                    p До 7-х человек
                  td.text--right
                    p 42 000/ 12 часов
        include ../components/_contact
        h2.main-title Другие развлечения #[span.text--primary на воде]
        .catalog.catalog--lg
          .catalog-inner
              +catalog(catalog2)
