main.page-main
  section.banner(style='background:url("images/banner-2.jpg") no-repeat center center / cover')
    .container
      .text--center
        h1= title
      .container--8.container--center
        .schedule
          .schedule__item.active
            .schedule__item-season Зима
            .schedule__item-date 16 ноября - 15 марта
          .schedule__item
            .schedule__item-season Весна
            .schedule__item-date 16 марта - 30 апреля
          .schedule__item
            .schedule__item-season Лето
            .schedule__item-date 1 мая - 31 августа
          .schedule__item
            .schedule__item-season Осень
            .schedule__item-date 1 сентября - 15 ноября
  section
    ul.sec-nav
      li.sec-nav__item: a.sec-nav__link(href='#') Экскурсии            
      li.sec-nav__item: a.sec-nav__link(href='#') Развлечения на земле            
      li.sec-nav__item: a.sec-nav__link(href='#') Развлечения на воде            
      li.sec-nav__item: a.sec-nav__link(href='#') Развлечения в помещении            
      li.sec-nav__item: a.sec-nav__link(href='#') Для детей
  section.leisure
    .container
      .container--10.container--center 
        .leisure__item
          h2.main-title Экскурсии
          .catalog
            .catalog-inner
              +catalog(catalog3)
              +catalog(catalog4)
        .leisure__item
          h2.main-title Развлечения на #[span.text--primary земле]
          .catalog
            .catalog-inner
              +catalog-d(catalog5)
              +catalog-d(catalog6)
        .leisure__item
          h2.main-title Развлечения на #[span.text--primary воде]
          .catalog
            .catalog-inner
              +catalog(catalog7)
              +catalog(catalog7)
        .leisure__item
          h2.main-title Развлечения на #[span.text--primary воде]
          .catalog
            .catalog-inner
              +catalog(catalog7)
              +catalog(catalog7)
              +catalog(catalog8)
        .leisure__item
          h2.main-title Для #[span.text--primary детей]
          .catalog
            .catalog-inner
              +catalog(catalog7)
              +catalog(catalog8)
        include ../components/_contact
