main.page-main
  section.banner(style='background:url("images/banner-3.jpg") no-repeat center center / cover')
    .container
      include ../components/_breadcrumbs
      .text--center
        h1= title
        h4 Мастер-класс для детей
        ul.list--inline.us-info
          li
            img(src='images/icons/master-ico-1.png', alt='')
            span 3 часа
          li
            img(src='images/icons/master-ico-2.png', alt='')
            span Профессиональный воспитатель
          li
            img(src='images/icons/master-ico-3.png', alt='')
            span 7 000 P
  section.master
    .container
      .container--10.container--center 
        .text--center: h2 Работы наших #[span.text--primary маленьких гостей]
        .slideshow
          .slideshow-inner
            .slider-arrow
            - for (var x = 1; x < 6; x++)
              .option: img(src='images/slide-2.jpg', alt='')              
        .text--center: h2 Программа #[span.text--primary мастер-класса]
        .master-steps
          .master-steps__item
            .master-steps__item-title Шаг 1
            .master-steps__item-desc Северное Приладожье – удивительное место. По красоте, самобытности и близости душе русского человека оно не сравнится ни с одним курортом мира. Для гостей «Ладожской Усадьбы» продуманы все виды экскурсионных туров по Карелии.
          .master-steps__item
            .master-steps__item-title Шаг 2
            .master-steps__item-desc Северное Приладожье – удивительное место. По красоте, самобытности и близости душе русского человека оно не сравнится ни с одним курортом мира. Для гостей «Ладожской Усадьбы» продуманы все виды экскурсионных туров по Карелии.
          .master-steps__item
            .master-steps__item-title Шаг 3
            .master-steps__item-desc Северное Приладожье – удивительное место. По красоте, самобытности и близости душе русского человека оно не сравнится ни с одним курортом мира. Для гостей «Ладожской Усадьбы» продуманы все виды экскурсионных туров по Карелии.
        include ../components/_contact
        h2.main-title Другие #[span.text--primary мастер-классы]
        .catalog.catalog--lg
          .catalog-inner
              +catalog(catalog2)
