main.page-main
  section.news
    .container
      .container--10.container--center 
        .news-inner
          a.news__item.news__item--double.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Митрополит Петрозаводский и Карельский Константин проведет службу в церкви Святой царицы Александры
            .news-desc В честь праздника иконы Святой Царицы Александры в одноименной церкви 6 мая состоятся праздничные богослужения
          a.news__item.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Карельский май в Ладожской Усадьбе
            .news-desc Размещение в комфортабельных коттеджах от 2-ух суток в период с 29 апреля по 2 мая и с 5 по 9 мая 2017 года. Стоимость - от 31000 руб. 6 чел./сутки.
          a.news__item.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Карельский май в Ладожской Усадьбе
            .news-desc Размещение в комфортабельных коттеджах от 2-ух суток в период с 29 апреля по 2 мая и с 5 по 9 мая 2017 года. Стоимость - от 31000 руб. 6 чел./сутки.
          a.news__item.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Карельский май в Ладожской Усадьбе
            .news-desc Размещение в комфортабельных коттеджах от 2-ух суток в период с 29 апреля по 2 мая и с 5 по 9 мая 2017 года. Стоимость - от 31000 руб. 6 чел./сутки.
          a.news__item.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Карельский май в Ладожской Усадьбе
            .news-desc Размещение в комфортабельных коттеджах от 2-ух суток в период с 29 апреля по 2 мая и с 5 по 9 мая 2017 года. Стоимость - от 31000 руб. 6 чел./сутки.
          a.news__item.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Карельский май в Ладожской Усадьбе
            .news-desc Размещение в комфортабельных коттеджах от 2-ух суток в период с 29 апреля по 2 мая и с 5 по 9 мая 2017 года. Стоимость - от 31000 руб. 6 чел./сутки.
          a.news__item.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Карельский май в Ладожской Усадьбе
            .news-desc Размещение в комфортабельных коттеджах от 2-ух суток в период с 29 апреля по 2 мая и с 5 по 9 мая 2017 года. Стоимость - от 31000 руб. 6 чел./сутки.
          a.news__item.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Карельский май в Ладожской Усадьбе
            .news-desc Размещение в комфортабельных коттеджах от 2-ух суток в период с 29 апреля по 2 мая и с 5 по 9 мая 2017 года. Стоимость - от 31000 руб. 6 чел./сутки.
          a.news__item.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Карельский май в Ладожской Усадьбе
            .news-desc Размещение в комфортабельных коттеджах от 2-ух суток в период с 29 апреля по 2 мая и с 5 по 9 мая 2017 года. Стоимость - от 31000 руб. 6 чел./сутки.
          a.news__item.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Карельский май в Ладожской Усадьбе
            .news-desc Размещение в комфортабельных коттеджах от 2-ух суток в период с 29 апреля по 2 мая и с 5 по 9 мая 2017 года. Стоимость - от 31000 руб. 6 чел./сутки.
          a.news__item.grid-item(href='#')
            .news-date 27.06.2017
            .news-title Карельский май в Ладожской Усадьбе
            .news-desc Размещение в комфортабельных коттеджах от 2-ух суток в период с 29 апреля по 2 мая и с 5 по 9 мая 2017 года. Стоимость - от 31000 руб. 6 чел./сутки.
        .text--center
          .btn--decor
            a.btn.btn--default.btn__lg(href="#") Загрузить еще
