main.page-main
  section.m-offer
    .m-catalog-container
      .m-offer-title
        h2= title
      .m-catalog__item
        .m-catalog__item-elem
          .m-catalog__item-body.m-catalog__item-body--txt
            h2.main-title Предложение №1
            p На первом этаже находится просторный светлый зал, весь увитый живописными и создающими особое настроение плакучими ивами. Удобные диваны, воздушные скатерти с кружевами, выполненными вручную именитыми карельскими мастерицами, большая хрустальная люстра, посуда, выдержанная в стиле старинной Усадьбы, - все эти эстетические детали погружают человека в мир спокойствия и неги.
        .m-catalog__item-elem.m-catalog__item-img(style='background:url("images/offer-1.jpg") no-repeat center left;')
      .m-catalog__item.m-catalog__item--right
        .m-catalog__item-elem
          .m-catalog__item-body.m-catalog__item-body--txt
            h2.main-title Предложение №2
            p На первом этаже находится просторный светлый зал, весь увитый живописными и создающими особое настроение плакучими ивами. Удобные диваны, воздушные скатерти с кружевами, выполненными вручную именитыми карельскими мастерицами, большая хрустальная люстра, посуда, выдержанная в стиле старинной Усадьбы, - все эти эстетические детали погружают человека в мир спокойствия и неги.
        .m-catalog__item-elem.m-catalog__item-img(style='background:url("images/offer-2.jpg") no-repeat center left;')
      .m-catalog__item  
        .m-catalog__item-elem
          .m-catalog__item-body.m-catalog__item-body--txt
            h2.main-title Предложение №3
            p На первом этаже находится просторный светлый зал, весь увитый живописными и создающими особое настроение плакучими ивами. Удобные диваны, воздушные скатерти с кружевами, выполненными вручную именитыми карельскими мастерицами, большая хрустальная люстра, посуда, выдержанная в стиле старинной Усадьбы, - все эти эстетические детали погружают человека в мир спокойствия и неги.      
        .m-catalog__item-elem.m-catalog__item-img(style='background:url("images/offer-3.jpg") no-repeat center left;')
