main.page-main
  section.banner.page404(style='background:url("images/404.jpg") no-repeat center center / cover')
    .container.text--center.page404-inner
      .page404-title К сожалению, страница не найдена. 
      .btn--decor
        a.btn.btn--default.btn__lg(href='/') На Главную
