main.page-main
  section.banner(style='background:url("images/banner-8.jpg") no-repeat center center / cover')
    .container
      include ../components/_breadcrumbs
      .text--center
        h1= title
        p.text__md Ресторан "LADOGA", как и вся усадьба, является симбиозом старинных элементов #[br] в дизайне и современной высокой кухни. Пространство ресторана оформлено #[br] по историческим фотографиям господской усадьбы четы Ниссиненов и погрузит вас #[br] в атмосферу конца 19 века.
  section.restaurant
    .container
      .container--10.container--center
        .restaurant__item
          .restaurant-inner.restaurant-inner--center
            .restaurant-inner__item
              h2.main-title Интерьер
            .restaurant-inner__item
              .l-notice.l-notice--default: p На первом этаже находится просторный светлый зал, весь увитый живописными и создающими особое настроение плакучими ивами. Удобные диваны, воздушные скатерти с кружевами, выполненными вручную именитыми карельскими мастерицами, большая хрустальная люстра, посуда, выдержанная в стиле старинной Усадьбы, - все эти эстетические детали погружают человека в мир спокойствия и неги. Для тех гостей, кто желает особого уединения, построен второй lounge-этаж. Имеется танцопол и место для выступления музыкантов, а так же VIP зал на 10 человек.
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-13.jpg', alt='')
        .restaurant__item
          .restaurant-inner.restaurant-inner--left
            .restaurant-inner__item
              h2.main-title Кухня
            .restaurant-inner__item
              .l-notice 
                p Многообразие вкусов в русском меню ресторана вскружит голову даже самого искушенного гурмана. Ароматный и густой борщ, свежеприготовленная уха, сочный шашлык и копченая раба, а так же другие блюда из меню ресторана порадуют и глаз и вкус.          
                .btn--decor.marg__lg
                  a.btn.btn--default.btn__lg(href="#") Меню ресторана «LADOGA »
        .restaurant__item
          .menu-catalog
            .menu-catalog__item: .menu-catalog__item-img: img(src='images/menu-1.png', alt='')
            .menu-catalog__item: .menu-catalog__item-img: img(src='images/menu-2.png', alt='')
            .menu-catalog__item: .menu-catalog__item-img: img(src='images/menu-3.png', alt='')
            .menu-catalog__item: .menu-catalog__item-img: img(src='images/menu-4.png', alt='')
        .restaurant__item
          .restaurant-inner.restaurant-inner--left
            .restaurant-inner__item
              h2.main-title Винная карта
            .restaurant-inner__item
              .l-notice 
                p Многообразие вкусов в русском меню ресторана вскружит голову даже самого искушенного гурмана. Ароматный и густой борщ, свежеприготовленная уха, сочный шашлык и копченая раба, а так же другие блюда из меню ресторана порадуют и глаз и вкус.
                .btn--decor.marg__lg
                  a.btn.btn--default.btn__lg(href="#") Винная карта ресторана «LADOGA »
          .restaurant__item
            .menu-catalog.menu-catalog--vine
              .menu-catalog__item: .menu-catalog__item-img: img(src='images/vine-1.jpg', alt='')
              .menu-catalog__item: .menu-catalog__item-img: img(src='images/vine-2.jpg', alt='')
              .menu-catalog__item: .menu-catalog__item-img: img(src='images/vine-3.jpg', alt='')
              .menu-catalog__item: .menu-catalog__item-img: img(src='images/vine-4.jpg', alt='')
        include ../components/_contact
