main.page-main
  section.banner(style='background:url("images/banner-9.jpg") no-repeat center center / cover')
    .container
      include ../components/_breadcrumbs
      .text--center
        h1= title
        p.text__md Пригласите ваших партнеров провести деловую встречу, отметить подписание контракта #[br] или юбилей фирмы, да и просто привезите своих сотрудников отдохнуть #[br] на свежем воздухе и познакомиться с прекрасной природой Северного Приладожья.
  section.testdrive
    .container
      .container--10.container--center
        .testdrive__item
          .testdrive-inner
            .testdrive-inner__item
              h2.main-title Зима
            .testdrive-inner__item
              .l-notice.l-notice--default: p Гостиничный комплекс «Ладожская Усадьба» обладает всем необходимым современным техническим оборудованием и имеет все возможности для проведения различного рода мероприятий: конференций, семинаров, презентаций, тренингов, деловых встреч и совещаний
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-14.jpg', alt='')
        .testdrive__item
          .testdrive-inner
            .testdrive-inner__item
              h2.main-title Лето
            .testdrive-inner__item
              .l-notice.l-notice--default: p Гостиничный комплекс «Ладожская Усадьба» обладает всем необходимым современным техническим оборудованием и имеет все возможности для проведения различного рода мероприятий: конференций, семинаров, презентаций, тренингов, деловых встреч и совещаний
          .slideshow
            .slideshow-inner
              .slider-arrow
              - for (var x = 1; x < 6; x++)
                .option: img(src='images/slide-15.jpg', alt='')
        include ../components/_contact
