//- mixins


//- menu
mixin menu(items)
    ul.main-nav
        each item in items
            - var parent  = ''
            - if(item.subitems !== false) parent='main-nav__item--parent'
            li.main-nav__item(class=parent)
                a.main-nav__link(href=item.href, title=item.title)= item.title
                - if(item.subitems !== false)
                    ul.sub-nav
                        each subitem in item.subitems
                            li.main-nav__item
                                a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title


//- form-input
mixin fieldInput(type, name, id, label, placeholder, data, required)
    label(for=id)= label
    input.control(type=type, name=name, id=id, placeholder=placeholder, data-label=data, required=required)

//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, data, required)
    label(for=id)= label
    textarea.control(name=name, id=id, placeholder=placeholder, rows=rows,  data-label=data, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name


//- blocks mixins
mixin fullpage__item(items)
  each item in items
    - var autoheight  = ''
    - if(item.autoheight !== false) autoheight='fp-auto-height'
    section.section(class=autoheight, style="background:url('images/"+item.img+"') no-repeat center / cover")
      .fullpage__item
        h2.fullpage-title= item.title
        .fullpage-decor: .fullpage-decor-inner: img(src='images/keys.png', alt='')
        .fullpage-desc= item.desc
        - if(item.play !== false)
          a.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto"): i.is-icons.is-icons--play
        .decorlines
          .decorlines-top: .decorlines__item
          .decorlines-left: .decorlines__item
          .decorlines-right: .decorlines__item
          .decorlines-bottom: .decorlines__item
        .logotypes.logotypes--full
          .logotypes-inner
            .logotypes__item: img(src='images/logo-1.png', alt='')
            .logotypes__item: img(src='images/logo-2.png', alt='')
            .logotypes__item: img(src='images/logo-3.png', alt='')
  
mixin catalog(items)
  each item in items
    a.catalog__item(href='#')
      .catalog__item-img
        img(src="images/"+item.img+"", alt='')
      .catalog__item-title= item.title
  
mixin catalog-d(items)
  each item in items
    a.catalog__item(href='#')
      .catalog__item-img
        img(src="images/"+item.img+"", alt='')
      .catalog__item-title= item.title
      .catalog__item-desc= item.desc
//- blocks mixins


//- maps-iframe
- var map = 'iframe src="putMapURLhere" width="100%" height="400" frameborder="0" style="pointer-events: none;" allowfullscreen></iframe';


//- article
mixin article(title)
  .article
    .article-wrapper
      h1= title
      if block
        block
      else
        p No content provided
