extends layouts/_default

block title
    title Case__fly
    - var title = 'Одноэтажные коттеджи'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-static

block siteMain
    include pages/_card

block siteFooter
    include partials/_footer
