extends layouts/_default

block title
    title Case__fly
    - var title = 'Досуг в Ладожской Усадьбе'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-staticb

block siteMain
    include pages/_catalog

block siteFooter
    include partials/_footer
