extends layouts/_default

block title
    title Case__fly
    - var title = 'Конференц услуги'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_conference

block siteFooter
    include partials/_footer
