extends layouts/_default

block title
    title Case__fly
    - var title = '«Сортавала-Мраморный каньон»'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_excursion

block siteFooter
    include partials/_footer
