extends layouts/_default

block title
    title Case__fly
    - var title = 'Прогулки на катерах'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_launch

block siteFooter
    include partials/_footer
