extends layouts/_default

block title
    title Case__fly
    - var title = 'Традиционные карельские народные куклы'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_master

block siteFooter
    include partials/_footer
