extends layouts/_default

block title
    title Case__fly
    - var title = 'Специальные предложения'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-static

block siteMain
    include pages/_offer

block siteFooter
    include partials/_footer
