extends layouts/_default

block title
    title Case__fly
    - var title = '404'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_page404

block siteFooter
