extends layouts/_default

block title
    title Case__fly
    - var title = 'Ресторан для гурманов'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_restaurant

block siteFooter
    include partials/_footer
