extends layouts/_default

block title
    title Case__fly
    - var title = 'Тест-драйвы'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_testdrive

block siteFooter
    include partials/_footer
